<app-nav-bar (openMenu)="openMenu($event)"></app-nav-bar>
<div style="display: flex; flex-direction: row;">
    <mat-sidenav-container>
        <mat-sidenav mode="over" [opened]="toggleMenu">
          <app-side-bar></app-side-bar>
        </mat-sidenav>
        <mat-sidenav-content class="w-100">
            <div class="container-fluid container-max">
                <div class="row mt-5">
                    <div class="col-12 flex-row">
                        <div class="card box-detail">
                            <div class="card-body box-ped">
                                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="task" class="icon"></mat-icon>
                                Pedidos Procesados: <span>{{totalPedidos | number}}</span>
                            </div>
                        </div>

                        <div class="card box-detail">
                            <div class="card-body box-ped">
                                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="inventory" class="icon"></mat-icon>
                                Unidades vendidas: <span>{{totalUnidades | number}}</span>
                            </div>
                        </div>

                        <div class="card box-detail">
                            <div class="card-body box-ped">
                                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="attach_money" class="icon"></mat-icon>
                                Valor $: <span>{{totalValorDolar | number: '1.0-3'}}</span>
                            </div>
                        </div>

                        <div class="col-2">
                            <div class="card">
                                <div class="card-body box-ped">
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="download" class="icon"></mat-icon>
                                    <button class="btn-clear" > Descargar Pedidos </button>
                                </div>
                            </div>
                        </div>
    

                    
                    </div>
                
                </div>

                <div class="">
                    <div class="col-12">
                        <div class="card h-100">
                            <div class="card-body">
                                <div style="text-align:center;width: 100%;">
                                    <apx-chart
                                      [series]="unidadesVendidasPorVendedorChart.series"
                                      [chart]="unidadesVendidasPorVendedorChart.chart"
                                      [xaxis]="unidadesVendidasPorVendedorChart.xaxis"
                                      [title]="unidadesVendidasPorVendedorChart.title"
                                    ></apx-chart>
                                  </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-12">
                        <div class="card h-100">
                            <div class="card-body">
                                <div style="text-align:center">
                                    <apx-chart
                                      [series]="totalVendidoPorVendedorChart.series"
                                      [chart]="totalVendidoPorVendedorChart.chart"
                                      [xaxis]="totalVendidoPorVendedorChart.xaxis"
                                      [title]="totalVendidoPorVendedorChart.title"
                                    ></apx-chart>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
              
              </div>

              <app-footer></app-footer>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
