
<div class="container-fluid footer">
    <div class="row p-5">
        <div class="col-12">
            <div class="row">
                <div class="col-2 center-display">
                    <img src="./assets/images/IMAGOTIPO-BLANCO.png" alt="INSUAMINCA Logo" class="logo w-100">
                </div>
                <div class="col-8 center-text">
                    <div class="">
                        <p>{{anioActual}} Insuaminca, CA. RIF J-41241374-0</p>
                        <p>Desarrollado por Insuaminca</p>
                    </div>
                </div>
                <div class="col-2 center-display">
                     <!-- Iconos de redes sociales -->
                    <div class="social-icons">
                        <a href="https://www.instagram.com/insuaminca/?hl=es" target="_blank" class="social-icon">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="https://www.facebook.com/Insuaminca/?locale=es_LA" target="_blank" class="social-icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://ve.linkedin.com/company/insuaminca" target="_blank" class="social-icon">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>

