
<footer class="footer c6">
    <!-- Línea azul curveada en la parte superior -->
    <div class="footer-top-curve"></div>

    <!-- Contenido del footer -->
    <div class="footer-content">
        <!-- Sección de Servicio al cliente -->
        <div class="footer-section">
            <h3>Servicio al cliente</h3>
            <ul>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>

        <!-- Sección de Información -->
        <div class="footer-section">
            <h3>Información</h3>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Inventario</a></li>
                <li><a href="#">Historial</a></li>
                <li><a href="#">Perfil</a></li>
            </ul>
        </div>

        <!-- Sección del logo y redes sociales -->
        <div class="footer-section logo-section">
            <img src="./assets/images/IMAGOTIPO-BLANCO.png" alt="INSUAMINCA Logo" class="logo">
            <p>© '.date('Y').' Insaminca, CA. RIF J-41241374-0</p>
            <p>Desarrollado por
                <a href="https://proteoerp.com/" target="_blank">
                    <img src="./assets/images/proteowhite.png" alt="ProteoERP Logo" class="dev-logo">
                </a> 
            </p>

            <!-- Iconos de redes sociales -->
            <div class="social-icons">
                <a href="https://www.instagram.com/insuaminca/?hl=es" target="_blank" class="social-icon">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.facebook.com/Insuaminca/?locale=es_LA" target="_blank" class="social-icon">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://ve.linkedin.com/company/insuaminca" target="_blank" class="social-icon">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
        </div>
    </div>
</footer>