@use '../../../styles/variables.scss' as vars;
@import './../home-page/home-page.component.scss';
@import '../../components/nav-bar/nav-bar.component.scss';
@import './../carrito-page/carrito-page.component.scss';

.mi-perfil {
    padding: 2rem;
    margin-top: 5rem;
    padding: 20px;
  
    &__header {
      margin-bottom: 20px;
      padding-bottom: 10px;
    }
  
    &__title {
        font-size: 3rem;
        color: vars.$menu-color;
    }
  
    &__content {
      display: flex;
      margin: 3rem;
    }
  
    &__sidebar {
      width: 25%;
      padding-right: 20px;
    }
  
    &__main {
        width: 75%;
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
  
    &__subtitle {
      font-size: 1.5rem;
      margin-bottom: 10px;
      color: #333;
    }
    &__datos {
      color: vars.$menu-color;
    }
    .mi-perfil__left{
        width: 30%;
    }
    .mi-perfil__right{
        width: 70%;
    }
    &__datos,
    &__informacion,
    &__asesor,
    &__filtros,
    &__pedidos {
      margin-bottom: 20px;
      padding: 15px;
      border: 1px solid #ddd;
      border-radius: 5px;
      color: vars.$menu-color;
    }
    &__filtros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__informacion-items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
    }
  
    &__informacion-item {
      text-align: center;
    }
  
    &__informacion-saldo {
      margin-top: 15px;
      text-align: center;
    }
  
    &__historial-table {
      width: 100%;
      margin-bottom: 2rem;
      border: none;
      border-radius: 1rem;
    }
    &__historial-table th {
        background-color: vars.$background-fondo;
        color: vars.$menu-color;
        font-weight: bold;
        padding: 1rem;
        text-align: center;
        border-bottom: none;
        vertical-align: middle; 
    }
    
    &__historial-table td {
        color: vars.$menu-color;
        padding: 0.5rem;
        border: 1px solid vars.$bordes-claros;
        vertical-align: middle;
        text-align: center;
    }
    &__historial-table tbody tr:hover {
        cursor: pointer;
        background-color: #ebebeb;
    }
    .status__com{
        color: vars.$text-color2;
    }
    .mi-perfil__pedidos{
        display: flex;
        justify-content: center;
    }
    &__filtros-inputs {
      margin: 1rem;
      display: flex;
      gap: 10px;
    }
  
    &__filtros-inputs .form-control {
      width: 150px;
      border-radius: 1rem;
    }
    &__filtros-inputs .form-control::placeholder {
        color: vars.$menu-color;
        text-align: center;
    }
    .limpafiltro{
        color: red;
        position: relative;
        margin: 0 auto;
        border: none;
        font-size: 1rem;
        text-decoration: none;
        text-align: center;
    }
    .busca__pedido {
        background-color: vars.$text-color2;
        color: vars.$background-fondo;
        font-size: 1.2rem;
        border: none;
        padding: 5px 12px;
        cursor: pointer;
        border-radius: 1rem; 
    }
    .busca__pedido:hover {
        background-color: vars.$text-color2-hover;
    }
  }