<app-nav-bar></app-nav-bar>

<div class="principal__pantalla">
    
    <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="fichaproduct__container">
                        <div class="product-content">
                            <div class="product-image">
                                <img [src]="imageficha" alt="{{ selectedProduct?.descrip }}">
                            </div>
                            <div class="product-details">
                                <div class="product-header">
                                    <h1>{{ selectedProduct?.descrip }}</h1>
                                </div>
                                <!-- <a href="#" class="more-products">Ver más productos de {{ selectedProduct?.nomprv }}</a> -->
                                <div class="price">
                                  <p class="usd">US$ {{ portalcliLogicaService.formatCurrency(selectedProduct?.opreciod) }} <span *ngIf="selectedProduct?.segmento > 0" class="preca__antes">{{ portalcliLogicaService.formatCurrency(selectedProduct?.preciod1)}}</span></p>
                                  <p class="bs">Bs. {{ portalcliLogicaService.formatCurrency(selectedProduct?.oprecio)}} <span *ngIf="selectedProduct?.segmento > 0" class="preca__antes">{{ portalcliLogicaService.formatCurrency(selectedProduct?.precio1)}}</span></p>
                                    <ul class="product-data">
                                        <li>Modelo: {{ selectedProduct?.modelo ?? ''}}</li>
                                        <li>Origen: {{ selectedProduct?.origen ?? ''}}</li>
                                        <li>Marca: {{ selectedProduct?.marca ?? ''}}</li>
                                        <li>Principio Activo:{{ selectedProduct?.pactivo ?? ''}}</li>
                                        <li>Cod. Barra: {{ selectedProduct?.barras }}</li>
                                    </ul>
                                </div>
                                <div class="quantity">
                                    <input type="number" min="0" id="cana2_{{selectedProduct?.codigo}}" value="{{ selectedProduct?.encar }}" placeholder="Cant..." class="quantity-input">
                                    <p class="stock"><br>Existencia: {{ selectedProduct?.existen | number: '0.0-0' }}</p>
                                </div>    
                                <button 
                                  [ngClass]="{ 
                                    'carrito__checkout-button': !productosEnCarritoCodigos.includes(selectedProduct?.codigo), 
                                    'carrito__checkout-button-agg': productosEnCarritoCodigos.includes(selectedProduct?.codigo)
                                  }" 
                                  (click)="agg_pedido(selectedProduct)"
                                >
                                  <span *ngIf="!productosEnCarritoCodigos.includes(selectedProduct?.codigo)">Agregar al carrito</span>
                                  <span *ngIf="productosEnCarritoCodigos.includes(selectedProduct?.codigo)">Producto agregado</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    
     <app-side-bar></app-side-bar>

     <div class="layout__principal">

        <!---Pantalla de carga----->
        <div id="loader" class="loader" style="display: none;">
            <div class="loader-icon"></div>
            <div class="loader-text">Procesando su solicitud, un momento por favor...</div>
        </div>
            <div class="content__general">
                <main class="main__general">
                    <div class="container mt-5">
                        <div class="row mt-3">

                            <!-- CARRUSEL -->
                            <div class="col-8">
                                <h3 class="text-primary">¡Bienvenido a Insuanet!</h3>
                                
                                <!---CARRUSEL PRINCIPAL-->
                                <!-- <div class="carrusel1__container main-carousel" style="margin-right: 1rem;">
                                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
                                        <div class="carousel-indicators">
                                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
                                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
                                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
                                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
                                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10"></button>
                                        </div>
                                
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img src="https://insuaminca.org/insuaminca/assets/images/Publicidad Diamante/PUBLICIDAD LARGA (HOME E INVENTARIO)/banner.jpg" class="d-block w-100 main-img" alt="Banner 1">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://insuaminca.org/insuaminca/assets/images/Publicidad Diamante/PUBLICIDAD LARGA (HOME E INVENTARIO)/banner1.jpg" class="d-block w-100 main-img" alt="Banner 2">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://insuaminca.org/insuaminca/assets/images/Publicidad Diamante/PUBLICIDAD LARGA (HOME E INVENTARIO)/banner2.jpg" class="d-block w-100 main-img" alt="Banner 3">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://insuaminca.org/insuaminca/assets/images/Publicidad Diamante/PUBLICIDAD LARGA (HOME E INVENTARIO)/banner3.jpg" class="d-block w-100 main-img" alt="Banner 4">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://insuaminca.org/insuaminca/assets/images/Publicidad Diamante/PUBLICIDAD LARGA (HOME E INVENTARIO)/banner4.jpg" class="d-block w-100 main-img" alt="Banner 5">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://insuaminca.org/insuaminca/assets/images/Publicidad Diamante/PUBLICIDAD LARGA (HOME E INVENTARIO)/banner5.png" class="d-block w-100 main-img" alt="Banner 6">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://insuaminca.org/insuaminca/assets/images/Publicidad Diamante/PUBLICIDAD LARGA (HOME E INVENTARIO)/banner6.png" class="d-block w-100 main-img" alt="Banner 7">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://insuaminca.org/insuaminca/assets/images/Publicidad Diamante/PUBLICIDAD LARGA (HOME E INVENTARIO)/banner7.png" class="d-block w-100 main-img" alt="Banner 8">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://insuaminca.org/insuaminca/assets/images/Publicidad Diamante/PUBLICIDAD LARGA (HOME E INVENTARIO)/banner8.png" class="d-block w-100 main-img" alt="Banner 9">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://insuaminca.org/insuaminca/assets/images/Publicidad Diamante/PUBLICIDAD LARGA (HOME E INVENTARIO)/banner9.jpg" class="d-block w-100 main-img" alt="Banner 10">
                                            </div>
                                        </div>
                                
                                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                </div> -->

                                <!---CARRUSEL ALEATORIO-->
                                <div class="carrusel1__container main-carousel" style="margin-right: 1rem;">
                                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
                                    <!-- Indicadores -->
                                    <div class="carousel-indicators">
                                        <button *ngFor="let image of shuffledMainImages; let i = index" 
                                                type="button" 
                                                data-bs-target="#carouselExampleIndicators" 
                                                [attr.data-bs-slide-to]="i" 
                                                [class.active]="i === 0" 
                                                [attr.aria-label]="'Slide ' + (i + 1)">
                                        </button>
                                    </div>
                                
                                    <!-- Imágenes del carrusel -->
                                    <div class="carousel-inner">
                                        <div *ngFor="let image of shuffledMainImages; let i = index" 
                                            class="carousel-item" 
                                            [class.active]="i === 0">
                                        <img [src]="image.src" class="d-block w-100 main-img" [alt]="image.alt">
                                        </div>
                                    </div>
                                
                                    <!-- Controles -->
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-4">
                                <h3 class="text-primary">Informacion del cliente</h3>
                                <div class="container-fluid mt-5">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card card__info">
                                                <app-clicard></app-clicard>
                                            </div>
                                        </div>

                                        <div class="col-12 mt-2">
                                            <div class="card mt-4 card__info">
                                                <div class="card-body ">
                                                    <h3 class="card-title text-primary">Asesor Comercial</h3>
                                                    <p class="card-text">
                                                        <span class="cardinfo__text">NOMBRE: <b>{{ (portalcliLogicaService.clienteData$ | async)?.nombrevd }}</b></span><br>
                                                        <span class="cardinfo__text">TELÉFONO: <b>{{ (portalcliLogicaService.clienteData$ | async)?.telefonovd }}</b></span><br>
                                                        <span class="cardinfo__text">CORREO: <span class="title__limit">{{ (portalcliLogicaService.clienteData$ | async)?.emailvd }}</span>
                                      </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="container mt-5">
                        <div class="row">
                            <div class="col-12">
                                <div class="ofertas__carrusel">
                                    <h3 class="ofertas-title text-primary">DESTACADOS</h3>
                                    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
                                    <owl-carousel-o [options]="customOptions">
                                        <ng-template carouselSlide *ngFor="let product of products">
                                            <div class="carousel-cards">
                                                <div class="card product-card">
                                                    <div class="discount-badge"
                                                         *ngIf="product.ofertaDisplay"
                                                         [matTooltip]="formatOfertasTooltip(product.oferta)"
                                                         matTooltipPosition="above">
                                                        {{ product.ofertaDisplay }}
                                                    </div>

                                                    <div class="product-price">US$ {{ product.opreciod }} <span *ngIf="product.segmento > 0"class="preca__antes2">{{ product.dpriced }}</span></div>

                                                    <div class="image-product__container-v2">
                                                        <img src="{{ product.img}}"
                                                             data-bs-toggle="modal" data-bs-target="#productModal"
                                                             (click)="openProductModal(product.codigo)"
                                                             class="img__product-principal-v2" alt="{{ product.codigo }}">
                                                    </div>

                                                    <span class="exis__text">Disponibles: {{ product.existen }}</span>
                                                    <div class="product-actions">
                                                        <div class="product-info">
                                          <span class="desca__product">
                                            {{ product.descrip }}
                                          </span>
                                                        </div>
                                                        <div class="cana__container-v2">
                                                            <input
                                                                    class="cana__input-v2"
                                                                    type="number"
                                                                    [id]="'cana_' + product.codigo"
                                                                    [value]="product.encar ? product.encar : ''"
                                                                    (input)="eventcant(product.codigo, $event)"
                                                                    name="cana"
                                                                    placeholder="1"
                                                            >
                                                            <button
                                                                    class="send__button-v2"
                                                                    title="Carrito"
                                                                    [id]="'aggpedido_' + product.codigo"
                                                                    (click)="agg_pedido(product)"
                                                            >
                                                                <i *ngIf="!productosEnCarritoCodigos.includes(product.codigo)" class="fa-solid fa-cart-plus"></i>
                                                                <i *ngIf="productosEnCarritoCodigos.includes(product.codigo)" class="fa-solid fa-square-check"></i>
                                                            </button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </owl-carousel-o>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container mt-5">
                        <!-- Carrusel de dos  -->
                        <div class="ofertas__carrusel-low">
                            <!---EL DE LA IZQUIERDA-->
                            <div id="promotionCarousel3" class="carousel slide-lown" data-bs-ride="carousel">
                              <div class="carousel-indicators">
                                <button *ngFor="let image of shuffledLeftImages; let i = index" 
                                        type="button" 
                                        data-bs-target="#promotionCarousel3" 
                                        [attr.data-bs-slide-to]="i" 
                                        [class.active]="i === 0" 
                                        [attr.aria-label]="'Slide ' + i">
                                </button>
                              </div>
                          
                              <div class="carousel-inner">
                                <div *ngFor="let image of shuffledLeftImages; let i = index" 
                                     class="carousel-item" 
                                     [class.active]="i === 0">
                                  <img [src]="image.src" class="d-block w-100 slide-min" [alt]="image.alt">
                                </div>
                              </div>
                          
                              <button class="carousel-control-prev" type="button" data-bs-target="#promotionCarousel3" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                              </button>
                              <button class="carousel-control-next" type="button" data-bs-target="#promotionCarousel3" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                              </button>
                            </div>
                          
                            <!---EL DE LA DERECHA-->
                            <div id="promotionCarousel4" class="carousel slide-lown" data-bs-ride="carousel">
                              <div class="carousel-indicators">
                                <button *ngFor="let image of shuffledRightImages; let i = index" 
                                        type="button" 
                                        data-bs-target="#promotionCarousel4" 
                                        [attr.data-bs-slide-to]="i" 
                                        [class.active]="i === 0" 
                                        [attr.aria-label]="'Slide ' + i">
                                </button>
                              </div>
                          
                              <div class="carousel-inner">
                                <div *ngFor="let image of shuffledRightImages; let i = index" 
                                     class="carousel-item" 
                                     [class.active]="i === 0">
                                  <img [src]="image.src" class="d-block w-100 slide-min" [alt]="image.alt">
                                </div>
                              </div>
                              
                              <button class="carousel-control-prev" type="button" data-bs-target="#promotionCarousel4" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                              </button>
                              <button class="carousel-control-next" type="button" data-bs-target="#promotionCarousel4" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                              </button>
                            </div>
                          </div>
                          
                    </div>

                    <div class="container mt-5">
                        <!-- Ofertas recomendadas -->
                        <div class="ofertas__carrusel">
                            <h3 class="ofertas-title text-primary">TE RECOMENDAMOS</h3>
                            <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
                            <owl-carousel-o [options]="customOptions">
                                <ng-template carouselSlide *ngFor="let product of products_2">
                                    <div class="carousel-cards">
                                        <div class="card product-card">
                                            <div class="discount-badge"
                                                 *ngIf="product.ofertaDisplay"
                                                 [matTooltip]="formatOfertasTooltip(product.oferta)"
                                                 matTooltipPosition="above">
                                                {{ product.ofertaDisplay }}
                                            </div>

                                            <div class="product-price">US$ {{ product.opreciod }} <span *ngIf="product.segmento > 0"class="preca__antes2">{{ product.dpriced }}</span></div>

                                            <div class="image-product__container-v2">
                                                <img src="{{ product.img}}"
                                                     data-bs-toggle="modal" data-bs-target="#productModal"
                                                     (click)="openProductModal(product.codigo)"
                                                     class="img__product-principal-v2" alt="{{ product.codigo }}">

                                            </div>

                                            <span class="exis__text">Disponibles: {{ product.existen }}</span>
                                            <div class="product-actions">
                                                <div class="product-info">
                                          <span class="desca__product">
                                            {{ product.descrip }}
                                          </span>
                                                </div>
                                                <div class="cana__container-v2">
                                                    <input
                                                            class="cana__input-v2"
                                                            type="number"
                                                            min="0"
                                                            placeholder="1"
                                                            [id]="'cana_' + product.codigo"
                                                            [value]="product.encar ? product.encar : ''"
                                                            (input)="eventcant(product.codigo, $event)"
                                                            name="cana"
                                                    >
                                                    <button
                                                            class="send__button-v2"
                                                            title="Carrito"
                                                            [id]="'aggpedido_' + product.codigo"
                                                            (click)="agg_pedido(product)"
                                                    >
                                                        <i *ngIf="!productosEnCarritoCodigos.includes(product.codigo)" class="fa-solid fa-cart-plus"></i>
                                                        <i *ngIf="productosEnCarritoCodigos.includes(product.codigo)" class="fa-solid fa-square-check"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </owl-carousel-o>
                        </div>
                    </div>

                    <div class="container mt-5">
                        <!-- Carrusel de proveedores -->
                        <div class="product-carousel-section">
                            <h3 class="ofertas-title text-primary">NUESTROS PROVEEDORES</h3>

                            <mat-progress-bar mode="indeterminate" *ngIf="isLoadingProviders"></mat-progress-bar>

                            <owl-carousel-o [options]="providersCarouselOptions">
<!--                                <ng-template carouselSlide *ngFor="let provider of providers">-->
<!--                                    <div class="carousel-proveedor-item" [title]="provider.proveed" (click)="Proveedselect(provider.proveed)">-->
<!--                                        <img [src]="provider.imageSrc" [alt]="provider.name">-->
<!--                                    </div>-->
<!--                                </ng-template>-->

                                <ng-template carouselSlide >
                                    <div class="carousel-proveedor-item" >
                                        <img src="../../../assets/images/logoprv/00023.png" alt="00023">
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide >
                                    <div class="carousel-proveedor-item" >
                                        <img src="../../../assets/images/logoprv/00036.png" alt="00036">
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide >
                                    <div class="carousel-proveedor-item" >
                                        <img src="../../../assets/images/logoprv/00066.png" alt="00066">
                                    </div>
                                </ng-template>
                                 <ng-template carouselSlide >
                                    <div class="carousel-proveedor-item" >
                                        <img src="../../../assets/images/logoprv/00076.png" alt="00076">
                                    </div>
                                 </ng-template>
                                 <ng-template carouselSlide >
                                    <div class="carousel-proveedor-item" >
                                        <img src="../../../assets/images/logoprv/00077.png" alt="00077">
                                    </div>
                                 </ng-template>
                                 <ng-template carouselSlide >
                                    <div class="carousel-proveedor-item" >
                                        <img src="../../../assets/images/logoprv/00089.png" alt="00089">
                                    </div>
                                 </ng-template>
                                 <ng-template carouselSlide >
                                    <div class="carousel-proveedor-item" >
                                        <img src="../../../assets/images/logoprv/00205.png" alt="00205">
                                    </div>
                                 </ng-template>
                                 <ng-template carouselSlide >
                                    <div class="carousel-proveedor-item" >
                                        <img src="../../../assets/images/logoprv/00226.png" alt="00226">
                                    </div>
                                 </ng-template>
                                 <ng-template carouselSlide >
                                    <div class="carousel-proveedor-item" >
                                        <img src="../../../assets/images/logoprv/00290.png" alt="00290">
                                    </div>
                                 </ng-template>
                                 <ng-template carouselSlide >
                                    <div class="carousel-proveedor-item" >
                                        <img src="../../../assets/images/logoprv/00233.png" alt="00233">
                                    </div>
                                 </ng-template>
                                 <ng-template carouselSlide >
                                    <div class="carousel-proveedor-item" >
                                        <img src="../../../assets/images/logoprv/00302.png" alt="00302">
                                    </div>
                                 </ng-template>
                            </owl-carousel-o>
                        </div>
                    </div>

                </main>
            </div>

        
    </div>
</div>

<!-- <p>home-page works!</p> -->

<app-footer></app-footer>
