
<app-nav-bar (openMenu)="openMenu($event)"></app-nav-bar>

<div style="display: flex; flex-direction: row;">

  <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <div class="fichaproduct__container">
                    <div class="product-content">
                        <div class="product-image">
                            <img [src]="imageficha" alt="{{ selectedProduct?.descrip }}">
                        </div>
                        <div class="product-details">
                            <div class="product-header">
                                <h1>{{ selectedProduct?.descrip }}</h1>
                            </div>
                            <!-- <a href="#" class="more-products">Ver más productos de {{ selectedProduct?.nomprv }}</a> -->
                            <div class="price">
                              <p class="usd">US$ {{ portalcliLogicaService.formatCurrency(selectedProduct?.preciod1) }}</p>
                              <p class="bs">Bs. {{ portalcliLogicaService.formatCurrency(selectedProduct?.precio1) }}</p>
                                <ul class="product-data">
                                    <li>Modelo: {{ selectedProduct?.modelo ?? ''}}</li>
                                    <li>Origen: {{ selectedProduct?.origen ?? ''}}</li>
                                    <li>Marca: {{ selectedProduct?.marca ?? ''}}</li>
                                    <li>Principio Activo:{{ selectedProduct?.pactivo ?? ''}}</li>
                                    <li>Cod. Barra: {{ selectedProduct?.barras }}</li>
                                </ul>
                            </div>
                            <div class="quantity">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
  </div>


  <mat-sidenav-container>
    <mat-sidenav mode="over" [opened]="toggleMenu">
      <app-side-bar ></app-side-bar>
    </mat-sidenav>
    <mat-sidenav-content class="w-100">
      <div class="container-fluid mt-6 p-0 main-container" >
        <div class="row mb-5 p-5">

          <!-- CONTROL HEADER -->
          <div class="col-12">
            <div class="card pt-0 card-resumen">
              <div class="row w-100 mb-5">
                  <div class="col-1 d-flex">
                      <img class="w-100 img-flex" src="./../../../assets/images/logoprv/{{authService.getProveed()}}.png" alt="">
                  </div>

                <div class="col-5 d-center">
                  <div class="">
                    <h4 class="text-blue">Toma de Pedidos</h4>
                    <h3>Cliente: {{clienteData?.nombre ?? 'Seleccione un cliente por favor.'}} - Almacén: <span class="text-blue">({{clienteData?.ubides ?? ''}})</span>  </h3>
                    <a class="show-text-car" (click)="navigateTo('/carrito')">Ver carrito de compra</a>
                  </div>

                </div>

                <div class="col-2 ">
                  <div class="container-text box-grey">
                    <span>Totales:</span>
                    <div class="">
                      <span>Unidades: {{ unidades }}</span>
                      <br>
                      <span>Productos: {{ encarprod }}</span>
                    </div>
                  </div>
                </div>

                <div class="col-2 ">
                  <div class="container-text box-grey">
                    <span>Totales:</span>
                    <div class="">
                      <span>Bs.  {{ portalcliLogicaService.formatCurrency(totalBs) }}</span>
                      <br>
                      <span>US$ {{ portalcliLogicaService.formatCurrency(totalUsd) }}</span>
                    </div>
                  </div>

                </div>

                <div class="col-2 d-center">
                  <div class="">
                      <button class="btn-end" (click)="goToCard();"> Finalizar compra</button>
                      <button class="btn-clear" (click)="vaciacar();">Vaciar carrito</button>
                  </div>
                </div>

              </div>

              <div class="row w-100">
                <div class="col-4">

                  <form class="example-form">
                    <mat-form-field class="example-full-width h-custom" style="width: 100%;" appearance="outline">
                      <mat-label> Seleccione un cliente</mat-label>
                      <input type="text" matInput [formControl]="clienteControl" [matAutocomplete]="auto"
                        (change)="onClienteInputChange($event)">
                      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        @for (cliente of filteredOptions | async; track cliente) {
                        <mat-option (click)="onClienteSeleccionado(cliente)" [value]="cliente">({{cliente.cliente}})
                          {{cliente.nombre}}</mat-option>
                        }
                      </mat-autocomplete>
                    </mat-form-field>
                  </form>
                </div>
                
                <!-- <div class="col-4">
                    <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Seleccione un almacen</mat-label>
                    <mat-select [(ngModel)]="almacen" (selectionChange)="applyFilters()">
                      <mat-option value="0001">Maturin</mat-option>
                      <mat-option value="0002">Guarenas</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->
                
                <div class="col-4">
                  <mat-form-field appearance="outline" class="w-100 h-custom">
                    <mat-label>Aplicar Descuento Lineal (%)</mat-label>
                    <input matInput type="number" max="100" [(ngModel)]="descuentoLineal" (input)="aplicarDescuentoLineal()">
                  </mat-form-field>

                </div>
              </div>

              <!-- <div class="row">
                <div class="col-12">
                  <span>Alamacen Seleccionado: 
                    <span *ngIf="almacen === '0001'">Maturin (0001)</span>
                    <span *ngIf="almacen === '0002'">Guarenas (0002)</span>
                  </span>
                </div>
              </div> -->
            </div>
          </div>

          <!-- TABLA -->
          <div class="col-12 mt-4 min-h">
            <div class="card  pt-0 card-resumen">
              <div class="col-12 mt-5">
                <div class="d-flex align-items-center gap-3">
                  <mat-form-field appearance="outline" style="flex-grow: 1;">
                    <mat-label>Buscar producto</mat-label>
                    <input matInput type="text" [(ngModel)]="search" (keyup)="searchProducts($event)">
                    @if (search) {
                      <button matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
                        <mat-icon>close</mat-icon>
                      </button>
                    }
                  </mat-form-field>

                  <mat-form-field appearance="outline" style="width: 10vw;">
                    <mat-label>Ordenar por</mat-label>
                    <mat-select [(ngModel)]="orderBy" (selectionChange)="applyFilters()">
                      <mat-option value="descrip">Descripción</mat-option>
                      <mat-option value="oprecio">Precio</mat-option>
                      <!--<mat-option value="existen">Existencia</mat-option>-->
                    </mat-select>
                  </mat-form-field>

                  <mat-icon *ngIf="orderBy" (click)="sortData(orderBy)" style="cursor: pointer;">
                    {{ orderDirection === 'asc' ? 'arrow_upward' : 'arrow_downward' }}
                  </mat-icon>
                </div>
              </div>

              <div class="col-12">
                <table mat-table [dataSource]="dataSource" matSort class="pedidos__table">

                  <!-- Position Column -->
                  <ng-container matColumnDef="img">
                    <th mat-header-cell *matHeaderCellDef class="border-top-left"> Ver </th>
                    <td mat-cell *matCellDef="let element">
                       <img 
                        [src]="getUrlImg(element.img)"
                        class="img-product"
                        data-bs-toggle="modal"
                        data-bs-target="#productModal"
                        (click)="openProductModal(element)">
                    </td>
                  </ng-container>

                    <ng-container matColumnDef="codigo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="codigo" (click)="sortData('codigo')" > Codigo </th>
                        <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
                    </ng-container>

                  <ng-container matColumnDef="descrip">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="descrip" (click)="sortData('descrip')" class="w-30"> Descripción </th>
                    <td mat-cell *matCellDef="let element"> {{element.descrip}} </td>
                  </ng-container>


                  <ng-container matColumnDef="opreciod" class="w-10">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="oprecio" (click)="sortData('oprecio')"> Precio </th>
                    <td mat-cell *matCellDef="let element" class="text-aling-center">
                      <span class="green">

                        <ng-container>{{element.dpriced}} US$</ng-container>
                      </span>
                      <br *ngIf="diasMontoFactura === undefined || diasMontoFactura === 0">
                      <span [ngClass]="{'green': diasMontoFactura !== undefined && diasMontoFactura > 0, 'blue': diasMontoFactura === undefined || diasMontoFactura <= 0}">
                       {{element.dprice}} Bs.</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="apliDiscount">
                    <th mat-header-cell *matHeaderCellDef class="w-20" > Precio con descuento </th>
                    <td mat-cell *matCellDef="let element" class="text-aling-center">
                      <ng-container > {{getPriceWDiscount(element) | number:'1.2-2'}} US$</ng-container>
                      <br>
                      <span [ngClass]="{'green': diasMontoFactura !== undefined && diasMontoFactura > 0, 'blue': diasMontoFactura === undefined || diasMontoFactura <= 0}">
                       {{getPriceWDiscountBS(element) | number:'1.2-2'}} Bs.</span>

                    </td>
                  </ng-container>

                  <ng-container matColumnDef="vence">
                        <th mat-header-cell *matHeaderCellDef > Fecha de vencimiento </th>
                        <td mat-cell *matCellDef="let element">
                            <span>  {{element.vence ?? 'N/A'}} </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="existen">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="existen" (click)="sortData('existen')" class="w-15"> Disponibles </th>
                        <td mat-cell *matCellDef="let element">
                            <span *ngIf="element.existenmat > 0" class="green-label">Maturin:  {{element.existenmat}} </span>
                            <br>
                            <span *ngIf="element.existenmat <= 0" class="red-label"> Maturin: 0 </span>

                            <span *ngIf="element.existengua > 0" class="green-label">Guarenas:  {{element.existengua}} </span>
                            <br>
                            <span *ngIf="element.existengua <= 0" class="red-label">  Guarenas: 0 </span>

                        </td>
                    </ng-container>

                  <ng-container matColumnDef="oferta">
                    <th mat-header-cell *matHeaderCellDef style="width: 80px;" mat-sort-header="oferta" (click)="sortData('oferta')" >Oferta</th>
                    <td mat-cell *matCellDef="let element" class="text-aling-center">
                      <div *ngIf="element.oferta && element.oferta.length > 0"
                          class="oferta-proveedor-inline"
                          [matTooltip]="formatOfertasTooltip(element.oferta)"
                          matTooltipPosition="above" [matTooltipShowDelay]="200" [matTooltipHideDelay]="100" [matTooltipClass]="'custom-tooltip'"> Oferta <br> Proveedor
                      </div>


                    <div *ngIf="element.ficha  > 0"
                      class="ficha-proveedor-inline"
                      
                      matTooltipPosition="above"> DESC.FICHA <br>{{element.ficha}} %
                  </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="cantidad">
                    <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                    <td mat-cell *matCellDef="let element">
                      <input type="number" min="1" maxlength="10"
                          [value]="element.encar ? element.encar : ''"
                          (input)="validateInput(element, $event)"
                          id="cana_{{element.codigo}}"
                          placeholder="0"
                          class="w-100 input-cant"
                          (keyup.enter)="agg_pedido(element, '-')"
                        >
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="descuento">
                    <th mat-header-cell *matHeaderCellDef> Descuento </th>
                    <td mat-cell *matCellDef="let element">
                      <input type="number" min="0" maxlength="3"
                             [value]="element.descprov ? element.descprov : ''"
                             (input)="updateDescuento(element, $event)" id="descprov_{{element.codigo}}"
                             placeholder="0%"
                             class="w-100 input-cant"
                             (keyup.enter)="agg_pedido(element, '-')"
                      >
                    </td>
                  </ng-container>

                   <!-- Agregar Column -->
                   <ng-container matColumnDef="agregar">
                    <th mat-header-cell *matHeaderCellDef class="border-top-right"> Agregar </th>
                    <td mat-cell *matCellDef="let element">
                        <div>
                            <button [ngClass]="{
                          'btn-add': !productosEnCarritoCodigos.includes(element.codigo),
                          'btn-agg': productosEnCarritoCodigos.includes(element.codigo),

                          }"
                                    (click)="agg_pedido(element, '-')">
                                <i *ngIf="!productosEnCarritoCodigos.includes(element.codigo)" class="fa-solid fa-cart-plus"></i>
                                <i *ngIf="productosEnCarritoCodigos.includes(element.codigo)" class="fa-solid fa-square-check"></i>
                            </button>
                        </div>

                     </td>
                  </ng-container>
    
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                 [ngClass]="{'fila-con-oferta': row.oferta && row.oferta.length > 0}"></tr>
                  
                </table>
              
                <mat-paginator [pageSizeOptions]="[20, 50, 100]"
                               showFirstLastButtons
                               aria-label="Select page of periodic elements">
                </mat-paginator>
                <div class="card">
                  <div class="mat-elevation-z8">
                   
                  </div>
                  
                  
                </div>
              </div>
            </div>
          </div>

        </div>
        <app-footer></app-footer>
      </div>
      
    <div class="col-12">
      <ng-template #cargarArchivoModal>
        <h1 mat-dialog-title class="ofertas-title carrito__title">Cargar excel</h1>
    
        <mat-dialog-content>
          <div class="card mt-4 card__info">
            <div class="card-body ">
              <h3 class="card-title text-primary">Seleccione un archivo de excel para cargar el pedido</h3>
    
              <div class="row mt-5">
                <div class="col-12 upload-container">
                  <label for="excelUpload" class="upload-label">
                    <i class="fas fa-file-upload"></i>
                    <span *ngIf="!fileName">Seleccione archivo .xlsx</span>
                    <span *ngIf="fileName">{{ fileName }}</span>
                    <input type="file" id="excelUpload" class="upload-input" (change)="onFileChange($event)" />
                  </label>
                  <button mat-raised-button color="primary"  [disabled]="!fileName" (click)="LeerArchivo()">Cargar archivo</button>
                </div>
    
              </div>
    
            </div>
          </div>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
          <button mat-button mat-dialog-close>Cancelar</button>
        </mat-dialog-actions>
      </ng-template>
    </div>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
