@use '../../../styles/variables.scss' as vars;
@import './../home-page/home-page.component.scss';

*{
    transition: all ease 0.25s;
}
.inventario__container{
    width: 100%;
    margin-left: 0.1rem;
    background-color: vars.$background-fondo;
    position: relative;
    z-index: 1;
    min-height: 80vh !important;
}

.order-container {
    display: flex; 
  }
  .col-0_75 {
    flex: 0 0 auto;
    width: calc(100% * 0.75 / 12); /* Aproximadamente 6.25% */
  }
  .order-container mat-form-field {
    flex: 1; 
  }
  
  .order-container mat-icon {
    margin-top: 1.5rem;
    cursor: pointer;
    padding-left: 0.4rem;
}
  
.box-banner-individual {
    height: 15vh;
    width: 100%;
    background-color: #000;
    margin-top: 1.2vh;
    border-radius: 1rem;
}

.box-banner-individual-footer {
    height: 15vh;
    width: 100%;
    background-color: #000;
    margin-top: 1.2vh;
    border-radius: 1rem;
}

.box-carusel-img {
    height: calc(30vh + 1rem);
    width: 100%;
    background-color: #000;
    margin-top: 1vh;
    border-radius: 1rem;
    padding: 1rem;
}

.header-table {
    font-size: 13px;
    background: #0377bf;
    color: #fff;
    font-weight: 700;
    padding: 1rem;
    text-align: center;
    font-weight: 700;
}

.border-left-top {
    border-top-left-radius: 1rem;
}

.border-right-top {
    border-top-right-radius: 1rem;
}

.pedidos__table th {
    font-family: "Alexandria", Helvetica, sans-serif !important;

}
.mat-mdc-row.mdc-data-table__row.cdk-row:hover{
  background-color: #ccc;
}
/* Estilos para las celdas de datos */
.pedidos__table td {
   font-family: "Alexandria", Helvetica, sans-serif !important;
}

.cel-product {
    padding: 0.25rem !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #cccccc6e;
    font-size: 12px;
    color: #002b52 !important;
    font-weight: 500;
    /* white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;*/
}

.cel-product-noborder-left {
    padding: 0.25rem !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #cccccc6e;
    font-size: 12px;
    color: #002b52 !important;
    font-weight: 500;
}
.cel-product-noborder-right {
    padding: 0.25rem !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #cccccc6e;
    font-size: 12px;
    color: #002b52 !important;
    font-weight: 500;
}

.img-product {
    width: 50px !important;
}

.even-row {
    background: #FFF !important;
    cursor: pointer;
}

.odd-row {
    background: #ededed !important;
    cursor: pointer;
}

.discount-row {
    width: 99% !important;
    border-right: 10px solid #38c702;
    border-left: 10px solid #38c702;
    border-radius: 10px;
    margin: auto;
}

.row-products {
    width: calc(98% - 10px);
    margin: auto;
    height: 9vh;
}

.row-products:hover{
    background: #4848483b !important;
}

.input-cant {
    border: 1px solid #CCC;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    margin: 0 1rem;
}

.container-products {
    max-height: 50vh;
    overflow: hidden;
    overflow-y: auto;
}

.row-header {
    width: 99% !important;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-radius: 10px;
    margin: auto;
}

.icon-add {
    width: 2vh;
    display: block;
    margin: auto;
}

.icon-add-hover {
    width: 2vh;
    display: none;
    margin: auto;
}

.btn-add,
.btn-agg {
    width: 100%;
    padding: 1rem;
    margin: 0 1rem;
    border: none;
    border-radius: 1rem;
}

.btn-add:hover {
    background: #0377bf !important;
    .icon-add {
        display: none;
    }

    .icon-add-hover {
        display: block;
    }
}

.btn-agg {
    background: vars.$text-color2 !important;
    color: vars.$background-fondo !important;
}

.pt-5 {
    margin-top: 4rem !important;
    padding: 2rem;
    border-radius: 1rem;
}

.unid-col {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    background: #ededed;
    align-items: center;
    padding: 1.5rem;
    border-radius: 1rem;
}

.btn-end {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 4vh;
    border-radius: 1rem;
    border: none;
    color: #FFF;
    background: #0377bf;
    font-size: 2rem;
}

.btn-clear {
    margin-top: 0.5vh !important;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 4vh;
    border-radius: 1rem;
    border: none;
    color: #FFF;
    background: #ff2f2f;
    font-size: 2rem;
}

.btn-download {
  margin-top: 0.5vh !important;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 4vh;
  border-radius: 1rem;
  border: none;
  color: #FFF;
  background: #6BC32C;
  font-size: 2rem;
}

.text-center {
    text-align: center;
}

  .oferta-proveedor-inline {
    background-color: #f0f0f0; /* Fondo claro */
    color: #4960e6; /* Color primario de Angular Material */
    font-size: 0.6em;
    padding: 2px 5px;
    border-radius: 3px;
    margin-left: 5px; /* Espacio entre la existencia y la etiqueta */
    vertical-align: middle; /* Alinear verticalmente con el texto de existencia */
    display: inline-block; /* Permite que los elementos se muestren en línea */
    line-height: 1; /* Asegura que el texto dentro del div no tenga un espaciado vertical excesivo */
  }
  
  .ficha-proveedor-inline {
    background-color: #f0f0f0; /* Fondo claro */
    color: #4960e6; /* Color primario de Angular Material */
    font-size: 0.8em;
    padding: 2px 5px;
    border-radius: 3px;
    margin-left: 5px; /* Espacio entre la existencia y la etiqueta */
    vertical-align: middle; /* Alinear verticalmente con el texto de existencia */
    display: inline-block; /* Permite que los elementos se muestren en línea */
    line-height: 1; /* Asegura que el texto dentro del div no tenga un espaciado vertical excesivo */
  }
  
.clear-car {
    text-align: center;
    color: #ff2f2f;
    font-size: 1.5rem;
    margin: auto;
    cursor: pointer;
    text-decoration: none;
}

h4 {
    font-size: 2.5rem;
}

.show-text-car {
    color: #0377bf;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
}

.mt-6 {
    margin-top: 9rem;
}

.row-clear-filter {
    background: #ededed;
    height: 5vh;
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
}

.row-clear-filter:hover {
    /* background: #0377bf !important; */
    background: vars.$text-color2 !important;
    height: 5vh;
    font-size: 1.5rem;
    color: #FFF;
    cursor: pointer;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
}

nav[aria-label="Page navigation example"] {
    margin-top: 2rem; /* Ajusta el margen superior según tus necesidades */
  
    ul.pagination {
      .page-item {
        .page-link {
          background-color: #f0f0f0; /* Cambia el color de fondo */
          color: vars.$menu-color; /* Cambia el color del texto */
          border: 1px solid #ddd; /* Añade un borde para mayor claridad */
  
          &:hover {
            background-color: #e0e0e0; /* Cambia el color al pasar el ratón */
          }
        }
  
        &.active .page-link {
          background-color: vars.$menu-color; /* Color para la página activa */
          color: white;
          border-color: vars.$menu-color;
        }
  
        &.disabled .page-link {
          color: #aaa; /* Color para los elementos deshabilitados */
          background-color: #f8f8f8;
          border-color: #ddd;
        }
      }
    }
  }
  .pagination-info {
    color: vars.$menu-color;
  }
.upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ccc;
    padding: 10px;
  }
  
  .upload-label {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 1rem;
  }
  
  .upload-input {
    display: none; /* Oculta el input de archivo original */
  }

  .box-grey {
    padding: 1rem 1.5rem;
    background: #ededed;
    border-radius: 1rem;
    display: flex;
    align-items: flex-start;
    height: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .text-blue {
    color: #0377bf;
  }


.card-resumen {
    // height: 15vh;
    padding: 2vh !important;
    display: flex;
    align-items: center;
}

.upload-btn {
    width: 50% !important;
    height: 5vh !important;
    background: #6cc32c !important;
    border-radius: 1rem;
}

.download-btn {
    width: 50% !important;
    height: 5vh !important;
    background: #0084c5 !important;
    border-radius: 1rem;

}

.h-custom {
    height: 5vh !important;
}

.col-custom-6 {
     width: 49% !important;
}

th {
    background: #6cc32c !important;
    color: #FFF;
    text-align: center;
    font-weight: 900;
    text-align: center;
}

td {
    font-size: 14px;
}

tr:hover {
    transition: all 0.25s ease-in-out;
    background: #0000000d;
    cursor: pointer;
}

.border-top-left {
    border-top-left-radius: 1rem !important;
}

.border-top-right {
    border-top-right-radius: 1rem !important;
}

.text-aling-center {
    text-align: center !important;
}

.w-100 {
    width: 100% !important;
}

.w-15 {
    width: 15% !important;
}

.w-10 {
    width: 10% !important;
}

.green {
    color: #2e5b0d;
    font-weight: bold;
    font-size: 14px;
}

.blue {
    color: #ff4081;
    font-size: 12px;
}

.container-text {
    width: 100%;
}

.d-center {
    display: flex;
    align-items: center;
}

.main-container {
    width: 99% !important;
  min-height: 50vh;
}

.img-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.min-h {
  min-height: 80vh !important;
}

.red-label {
  color: #f44336;
}
