
<app-nav-bar></app-nav-bar>

<div style="display: flex; flex-direction: row;">

  <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <div class="fichaproduct__container">
                    <div class="product-content">
                        <div class="product-image">
                            <img [src]="imageficha" alt="{{ selectedProduct?.descrip }}">
                        </div>
                        <div class="product-details">
                            <div class="product-header">
                                <h1>{{ selectedProduct?.descrip }}</h1>
                            </div>
                            <div class="price">
                              <p class="usd">US$ {{ portalcliLogicaService.formatCurrency(selectedProduct?.opreciod) }} <span *ngIf="selectedProduct?.segmento > 0" class="preca__antes">{{ portalcliLogicaService.formatCurrency(selectedProduct?.preciod1)}}</span></p>
                              <p class="bs">Bs. {{ portalcliLogicaService.formatCurrency(selectedProduct?.oprecio)}} <span *ngIf="selectedProduct?.segmento > 0" class="preca__antes">{{ portalcliLogicaService.formatCurrency(selectedProduct?.precio1)}}</span></p>
                                <ul class="product-data">
                                    <li>Modelo: {{ selectedProduct?.modelo ?? ''}}</li>
                                    <li>Origen: {{ selectedProduct?.origen ?? ''}}</li>
                                    <li>Marca: {{ selectedProduct?.marca ?? ''}}</li>
                                    <li>Principio Activo:{{ selectedProduct?.pactivo ?? ''}}</li>
                                    <li>Cod. Barra: {{ selectedProduct?.barras }}</li>
                                </ul>
                            </div>
                            <div class="quantity">
                                <input min="0" type="number" id="cana2_{{selectedProduct?.codigo}}" value="{{ selectedProduct?.encar }}" placeholder="Cant..." class="quantity-input">
                                <p class="stock"><br>Existencia: {{ selectedProduct?.existen | number: '0.0-0' }}</p>
                            </div>
                            <!-- <button class="carrito__checkout-button">¡Agregar al carrito!</button> -->

                            <button 
                              [ngClass]="{ 
                                'carrito__checkout-button': !productosEnCarritoCodigos.includes(selectedProduct?.codigo), 
                                'carrito__checkout-button-agg': productosEnCarritoCodigos.includes(selectedProduct?.codigo)
                              }" 
                              (click)="agg_pedido(selectedProduct)"
                            >
                              <span *ngIf="!productosEnCarritoCodigos.includes(selectedProduct?.codigo)">Agregar al carrito</span>
                              <span *ngIf="productosEnCarritoCodigos.includes(selectedProduct?.codigo)">Producto agregado</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

  <app-side-bar></app-side-bar>

<div class="container-fluid mt-6 row inventario__container">
  <!-- <div class="col-12">
      <h4>Toma de pedidos</h4>
  </div> -->

  <div class="row col-12 d-flex flex-row justify-content-around mt-5">
    <div class="col-7"> 
      <div class="card p-5">



        <div class=" d-flex flex-row align-items-center justify-content-between">
          <div class="p-2 text-left">
            <h4>Carrito de compra</h4>
          </div>

          <button type="button" (click)="vaciacar()" class="btn btn-outline-danger"> Vaciar carrito</button>
        </div>

        <div class=" d-flex flex-row align-items-center justify-content-between">

        
          <div class="p-4 unid-col mt-0">
            <span>Unidades: {{ unidades }}</span>
            <br>
            <span>Productos: {{ encarprod }}</span>
          </div>
        
          <div class="p-4 unid-col mt-0">
            <span>Totales:</span>
            <div class="">
              <span>Bs.  {{ portalcliLogicaService.formatCurrency(totalBs) }}</span>
              <br>
              <span>US$ {{ portalcliLogicaService.formatCurrency(totalUsd) }}</span>
            </div>
          </div>
        
          <div class="p-2 mt-0">
            <button class="btn-end" (click)="navigateTo('/carrito')"> Finalizar compra</button>
          </div>
        </div>
      

      </div>
    </div>
  
    <div class="col-4"> 
      <div class="card card__info">
        <app-clicard></app-clicard>
      </div>
    </div>
  </div>
  
  <div class="col-12 p-2">
      <div class="row">    
          <div class="col-12 mt-4">

              <div class="d-flex justify-content-center align-items-center" *ngIf="isLoading">
                <div class="spinner-border text-success" role="status">
                  <span class="visually-hidden">Cargando...</span>
                </div>
              </div>
          
            <div class="container-fluid w-100">

              <div class="row">

                <div class="row order-container">

                  <mat-form-field appearance="outline" style="flex-grow: 1;">
                    <mat-label>Buscar producto</mat-label>
                    <input matInput type="text" [(ngModel)]="search" (keyup)="searchProducts($event)">
                    @if (search) {
                      <button matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
                        <mat-icon>close</mat-icon>
                      </button>
                    }
                  </mat-form-field>
  

                  <mat-form-field appearance="outline" style="width: calc(100% - 32px);">
                    <mat-label>Ordenar por</mat-label>
                    <mat-select [(ngModel)]="orderBy" (selectionChange)="applyFilters()">
                      <mat-option value="descrip">Descripción</mat-option>
                      <mat-option value="nomprv">Proveedor</mat-option>
                      <mat-option value="oprecio">Precio</mat-option>
                      <mat-option value="existen">Existencia</mat-option>
                      <mat-option value="fecha">Fecha</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-icon *ngIf="orderBy" (click)="sortData(orderBy)">
                    {{ orderDirection === 'asc' ? 'arrow_upward' : 'arrow_downward' }}
                  </mat-icon>
                </div>
              </div>
          
              <div class="mat-elevation-z2">
                  <table class="table table-bordered table-striped pedidos__table">
                    <thead>
                      <tr class="text-center">
                        <th scope="col" class="align-middle" [class.asc]="orderBy === 'img' && orderDirection === 'asc'" [class.desc]="orderBy === 'img' && orderDirection === 'desc'" (click)="sortData('img')">Ver</th>
                
                        <th scope="col" class="align-middle text-start" [class.asc]="orderBy === 'descrip' && orderDirection === 'asc'" [class.desc]="orderBy === 'descrip' && orderDirection === 'desc'" (click)="sortData('descrip')">Descripción</th>
                
                        <th scope="col" class="align-middle" [class.asc]="orderBy === 'oprecio' && orderDirection === 'asc'" [class.desc]="orderBy === 'oprecio' && orderDirection === 'desc'" (click)="sortData('oprecio')">Precio Bs.</th>
                
                        <th scope="col" class="align-middle" [class.asc]="orderBy === 'opreciod' && orderDirection === 'asc'" [class.desc]="orderBy === 'opreciod' && orderDirection === 'desc'" (click)="sortData('opreciod')">Precio US$</th>
                
                        <th scope="col" class="align-middle" [class.asc]="orderBy === 'existen' && orderDirection === 'asc'" [class.desc]="orderBy === 'existen' && orderDirection === 'desc'" (click)="sortData('existen')">Inventario</th>
                
                        <th scope="col" class="align-middle">Cantidad</th>
                
                        <th scope="col" class="align-middle">Agregar</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let product of pagedProducts; let i = index" [ngClass]="{'even-row': i % 2 === 0, 'odd-row': i % 2 !== 0, 'discount-row': product.descuento}">
                        <td class="align-middle text-center">
                          <img [src]="product.img" class="img-product" data-bs-toggle="modal" data-bs-target="#productModal" (click)="openProductModal(product.codigo)">
                        </td>
                
                        <td class="align-middle text-start">{{product.descrip}}
                          <br>
                          <div *ngIf="product.oferta && product.oferta.length > 0"
                            class="oferta-proveedor-inline"
                            [matTooltip]="formatOfertasTooltip(product.oferta)"
                            matTooltipPosition="above" [matTooltipShowDelay]="200" [matTooltipHideDelay]="100" [matTooltipClass]="'custom-tooltip'"> Oferta Proveedor
                        </div>
  
  
                            <div *ngIf="product.ficha  > 0"
                              class="ficha-proveedor-inline"
                              
                              matTooltipPosition="above"> DESC.FICHA <br>{{product.ficha}} %
                          </div>
                        </td>
                
                        <td class="align-middle" style="text-align: right;">
                          <div>
                            <span *ngIf="product.segmento > 0" class="preca__antes">{{product.dprice}}</span>
                              <br *ngIf="product.segmento > 0">
                              <span style="color: rgb(28, 123, 36);">{{product.oprecio}}</span>
                          </div>
                        
                        </td>
                
                        <td class="align-middle" style="text-align: right;">
                          <div>
                            <span *ngIf="product.segmento > 0" class="preca__antes">{{product.dpriced}}$</span>
                            <br *ngIf="product.segmento > 0">
                            <span style="color: rgb(28, 123, 36);">{{product.opreciod}}$</span>
                          </div>
                        </td>
                
                        <td class="align-middle" style="text-align: center;">{{product.existen}}</td>
                
                        <td style="text-align: center;">
                          <input
                            type="number"
                            min="0"
                            maxlength="10"
                            [value]="product.encar ? product.encar : ''"
                            (input)="validateInput(product, $event)"
                            id="cana_{{product.codigo}}"
                            placeholder="Cantidad"
                            class="input-cant"
                            (keyup.enter)="agg_pedido(product)"
                          >
                        </td>
                
                        <td class="align-middle">
                          <button
                            [ngClass]="{
                              'btn-add': !productosEnCarritoCodigos.includes(product.codigo),
                              'btn-agg': productosEnCarritoCodigos.includes(product.codigo)
                            }"
                            (click)="agg_pedido(product)"
                          >
                            <i *ngIf="!productosEnCarritoCodigos.includes(product.codigo)" class="fa-solid fa-cart-plus"></i>
                            <i *ngIf="productosEnCarritoCodigos.includes(product.codigo)" class="fa-solid fa-square-check"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                
          
              <mat-paginator
              [length]="totalPages * itemsPerPage"
              [pageSize]="itemsPerPage"
              [pageSizeOptions]="[5, 10, 20]"
              showFirstLastButtons
              (page)="pageChanged($event)"
            ></mat-paginator>
            </div>
            

          </div>
      
      
         

      
        </div>
  </div>


</div>
<app-footer></app-footer>
</div>



