$background-fondo: white;
$principal-color: #0084C5;
$principal-color-hover: #0076ad;
$menu-color: #053354;
$menu-color-seconday: #2684ff;
$text-color: black;
$text-color2: #3EA816;
$text-color2-hover: #379713;
$text-claro: #7c7979;
$fondo-footer: #B3B3B3;
$resaltador: #FEC100;
$lineas-separetor: #a3a3a3;