<app-nav-bar (openMenu)="openMenu($event)"></app-nav-bar>


<div style="display: flex; flex-direction: row;">
  
  <mat-sidenav-container>
    <mat-sidenav mode="over" [opened]="toggleMenu">
      <app-side-bar></app-side-bar>
    </mat-sidenav>
    <mat-sidenav-content class="w-100">
      <div class="container-fluid container-max mt-5">
        <div class="container__carrito">
          <button type="button" class="btn btn-outline-secondary back__ped mb-4 mt-5" (click)="navigateTo('/pedidos')">Volver al catalogo</button>

          <header class="carrito__header">
            <h1 class="ofertas-title carrito__title">Carrito de compra</h1>
            <h3>Cliente: {{clienteData?.nombre ?? 'Seleccione un cliente por favor.'}}</h3>

          </header>
          <h2 class="text-primary">Mis productos</h2>

          <app-carshop></app-carshop>

        </div>
      </div>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
