<app-nav-bar></app-nav-bar>

<div style="display: flex; flex-direction: row;">
  <app-side-bar></app-side-bar>

  <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <div class="fichaproduct__container">
                    <div class="product-content">
                        <div class="product-image">
                            <img [src]="imageficha" alt="{{ selectedProduct?.descrip }}">
                        </div>
                        <div class="product-details">
                            <div class="product-header">
                                <h1>{{ selectedProduct?.descrip }}</h1>
                            </div>
                            <div class="price">
                              <p class="usd">US$ {{ portalcliLogicaService.formatCurrency(selectedProduct?.opreciod) }} <span *ngIf="selectedProduct?.segmento > 0" class="preca__antes">{{ portalcliLogicaService.formatCurrency(selectedProduct?.preciod1)}}</span></p>
                              <p class="bs">Bs. {{ portalcliLogicaService.formatCurrency(selectedProduct?.oprecio)}} <span *ngIf="selectedProduct?.segmento > 0" class="preca__antes">{{ portalcliLogicaService.formatCurrency(selectedProduct?.precio1)}}</span></p>
                                <ul class="product-data">
                                    <li>Modelo: {{ selectedProduct?.modelo ?? ''}}</li>
                                    <li>Origen: {{ selectedProduct?.origen ?? ''}}</li>
                                    <li>Marca: {{ selectedProduct?.marca ?? ''}}</li>
                                    <li>Principio Activo:{{ selectedProduct?.pactivo ?? ''}}</li>
                                    <li>Cod. Barra: {{ selectedProduct?.barras }}</li>
                                </ul>
                            </div>
                            <div class="quantity">
                                <input type="number" min="0" id="cana2_{{selectedProduct?.codigo}}" value="{{ selectedProduct?.encar }}" placeholder="Cant..." class="quantity-input">
                                <p class="stock"><br>Existencia: {{ selectedProduct?.existen | number: '0.0-0' }}</p>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

  <div class="carrito">
    <h1 class="ofertas-title carrito__title">Carrito de compra por cliente</h1>

      <header class="carrito__header">
        
          <button type="button" class="btn btn-outline-secondary" (click)="goBack()">Pagina Anterior</button>


          <button type="button" style="font-size: 1.3rem;font-weight: bold;" (click)="vaciacar()" class="btn btn-outline-danger"> Vaciar carrito</button>

      </header>
    
      <section class="carrito__products">
        <h2 class="text-primary">Productos en el carrito de: ({{this.authService.getCodCli()}})-{{this.authService.getNombreFarmaciaActiva()}}</h2>
        <h3 style="color: rgb(219, 47, 47);">Los precios listados son referenciales</h3>
        <div class="d-flex align-items-center search-bar gap-4">
              <mat-form-field appearance="outline" style="flex-grow: 1;">
                <mat-label>Búsqueda:</mat-label>
                <input matInput type="text" (keyup)="applyFilter($event)">
              </mat-form-field>

          <div class="sort-container">
              <mat-form-field appearance="outline" >
                  <mat-label>Ordenar por:</mat-label>
                  <mat-select [(value)]="sortField" (selectionChange)="onSortChange($event.value)">
                      <mat-option value="descrip">Descripción</mat-option>
                      <mat-option value="preciosiniva">Precio Bs.</mat-option>
                      <mat-option value="preciod">Precio US$</mat-option>
                      <mat-option value="cant">Cantidad</mat-option>
                  </mat-select>
              </mat-form-field>
          
              <mat-icon>{{ sortDirection === 'asc' ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
          </div>

        </div>

        
        <div class="login-container">
          <div class="d-flex justify-content-center align-items-center" *ngIf="isLoading">
            <div class="spinner-border text-success" role="status">
              <span class="visually-hidden">Cargando...</span>
            </div>
          </div>
        </div>

          <p-table [value]="productscar" [tableStyle]="{ 'min-width': '50rem' }">
              <ng-template #header>
                  <tr>
                      <th>Producto</th>
                      <th>Descripción</th>
                      <th>Bs.</th>
                      <th>US$</th>
                      <th>Total Bs.</th>
                      <th>Total US$</th>
                      <th>Cantidad</th>
                      <th></th>
                  </tr>
              </ng-template>
              <ng-template #body let-product>
                  <tr>
                      <td>
                          <img
                                  [src]="product.img"
                                  alt="Producto"
                                  data-bs-toggle="modal"
                                  data-bs-target="#productModal"
                                  (click)="openProductModal(product.codigoa)"
                                  class="carrito__product-image">
                      </td>
                      <td>{{product.descrip}}</td>
                      <td>{{ portalcliLogicaService.formatCurrency(product.oprecio) }}</td>
                      <td>{{ portalcliLogicaService.formatCurrency(product.opreciod)}}</td>
                      <td>{{ portalcliLogicaService.formatCurrency(product.total)}}</td>
                      <td>{{ portalcliLogicaService.formatCurrency(product.totald)}}</td>
                      <td>
                          <div class="carrito__quantity">
                              <button (click)="updatecant(product.id_pedido, product.codigoa, product.existen, '-') " class="carrito__quantity-button">
                                  <i class="fa-solid fa-minus"></i>
                              </button>
                              <input type="text" min="0" maxlength="10" [value]="product.cant" id="cantidad_{{ product.codigoa }}" class="carrito__quantity-input" readonly>
                              <button (click)="updatecant(product.id_pedido, product.codigoa, product.existen, '+')" class="carrito__quantity-button">
                                  <i class="fa-solid fa-plus"></i>
                              </button>
                          </div>
                      </td>
                      <td>
                          <button class="carrito__remove-button" mat-icon-button (click)="eliminareg(this, product.id_pedido, product.codigoa)">
                              <mat-icon>close</mat-icon>
                          </button>
                      </td>
                  </tr>
              </ng-template>
          </p-table>
    
      </section>


      <div class="container d-flex gap-3">
        <section class="carrito__totals mt-5">
            <div class="carrito__totals-container">
                <div class="carrito__totals-item">
                    <h3 class="carrito__totals-title">US$</h3>
                    <p class="carrito__totals-info" id="totald">Total US$: <span>{{ portalcliLogicaService.formatCurrency(totalUsd)}} $</span></p>
                </div>
                <div class="carrito__totals-item">
                    <h3 class="carrito__totals-title">Bs.</h3>
                    <p class="carrito__totals-info" id="total">Total Bs: <span>{{ portalcliLogicaService.formatCurrency(totalBs) }}</span></p>
                </div>
            </div>

            <footer class="carrito__footer">
                <button class="carrito__checkout-button" (click)="enviaped();">Finalizar compra</button>
            </footer>
        </section>

        <section class="carrito__totals mt-5">
            <h3 class="carrito__totals-title">Totales:</h3>

            <div class="carrito__totals-container">
                <div class="carrito__totals-item">
                    <p class="carrito__totals-info">Unidades: <span>{{ unidades }}</span></p>
                </div>
                <div class="carrito__totals-item">
                   <p class="carrito__totals-info">Productos: <span>{{ encarprod}}</span></p>
                </div>
            </div>
        </section>
    </div>
    
  
  </div>
</div>

