<!---Pantalla principal---->
<section class="navbar__general">

    <nav class="navbar__content navbar__primary">

        <div class="navbar__hamburger">
            <img src="./assets/images/chiquitoblanco.png" alt="">
            <i id="hamburger" class="hamburguer__icon fa-solid fa-bars" (click)="toggleMenu()"></i>
        </div>


        <div class="container content__buscadorprincipal">
            <div class="d-flex align-items-center">
              <div class="">
                <button
                  class="d-flex align-items-center btn dropdown__toggle rounded-0"
                  type="button"
                  id="dropdownMenuButton"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  style="border: none; padding: 8px 10px; font-size: 14px;"
                >
                  {{ categoriaSeleccionadaNombre || 'Categorias' }} <i *ngIf="grup" class="fas fa-solid fa-angle-down"></i>
                </button>
                <ul
                  class="dropdown-menu"
                  aria-labelledby="dropdownMenuButton"
                  aria-labelledby="categoria"
                  *ngIf="grup"
                >
                  <li>
                    <a
                      class="dropdown-item"
                      href="javascript:void(0)"
                      [attr.data-value]=""
                      (click)="onCategoriaSeleccionada()"
                    >
                      Todos
                    </a>
                  </li>
                  <li *ngFor="let lgrup of grup">
                    <a
                      class="dropdown-item"
                      href="javascript:void(0)"
                      [attr.data-value]="lgrup.grupo"
                      (click)="onCategoriaSeleccionada(lgrup)"
                    >
                      {{ lgrup.nom_grup }}
                    </a>
                  </li>
                </ul>
              </div>
              <div class="position-relative" style="width: 350px;"> <input
                  type="text"
                  class="form-control rounded-0"
                  placeholder="Buscar productos, marcas y más..."
                  aria-label="Buscar productos, marcas y más..."
                  style="padding: 8px 10px; font-size: 1.4rem; border: none; border-right: 1px solid #a3a3a3; width:100%;"
                  [(ngModel)]="searchTermNavbar"
                  (keyup.enter)="buscarProductos()"
                />
                <button
                  *ngIf="searchTermNavbar"
                  class="btn btn-light rounded-circle position-absolute top-50 end-0 translate-middle"
                  style="border: none; padding: 2px 9px; background-color: transparent; font-size: 20px;"
                  (click)="limpiarBuscar()"
                >
                  <i class="fas fa-times"></i>
                </button>
              </div>
              <div class="input-group-append">
                <button
                  class="btn btn-light rounded-0"
                  type="button"
                  style="border: none; padding: 2px 9px; background-color: transparent; font-size: 22px;"
                  (click)="buscarProductos()"
                >
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>

        <div class="navbar__links">
            <div class="container-fluid container__details">
                <div class="d-flex justify-content-end">
                    <div class="dropdown">
                        <button class="btn btn-sm btn-outline-secondary dropdown__toggle" type="button" id="idcli" data-bs-toggle="dropdown" aria-expanded="false">
                          {{ getNombreClienteSeleccionado() }} <i *ngIf="clientes" class="fas fa-solid fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="idcli" *ngIf="clientes">
                          <li *ngFor="let cliente of clientes">
                            <a class="dropdown-item" href="javascript:void(0)" [attr.data-value]="cliente.cliente" (click)="onClienteSeleccionado(cliente)">
                              ({{ cliente.cliente }}) {{ cliente.nombre }}
                            </a>
                          </li>
                        </ul>
                      </div>
                </div>

                <div class="container text-center">
                    <div class="row flex-nowrap">
                        <div class="col details__cli">
                            BCV<br>
                            {{ authService.getTasa() }}
                        </div>
                        <div class="col details__cli">
                            ALMACEN<br>
                            {{ (portalcliLogicaService.clienteData$ | async)?.ubides }}
                        </div>
                        <div class="col details__cli">
                            SEGMENTO<br>
                            {{ (portalcliLogicaService.clienteData$ | async)?.descripseg }}
                        </div>
                        <div class="col details__cli">
                            DCT.VOLUMEN<br>
                            {{ (portalcliLogicaService.clienteData$ | async)?.descvol }}
                        </div>
                        <div class="col details__cli">
                            GRUPO<br>
                            {{ authService.getCmatriz() }}
                        </div>
                        <div class="col details__cli">
                            <i class="fas fa-shopping-cart cart-icon" (click)="navigateTo('/carrito')"></i>
                            <span class="fs-4"> {{productosEnCarritoNumber}}</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </nav>
</section>