@use '../../../styles/variables.scss' as vars;

/* Ajuste del menú */
.menu__general {
    position: fixed;
    top: 0;
    left: -100%;
    width: 60%;
    max-width: 300px;
    height: 100%;
    background-color: vars.$principal-color;
    color: vars.$background-fondo;
    z-index: 100;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    height: auto;
    position: relative;
    width: 0;
    overflow: hidden;
}

.principal__pantalla.menu-active .menu__general {
    width: 250px; /* Ancho del menú */
}

.menu__general.openmenu {
    left: 0;
}

.menu__general.openmenu {
    left: 0;
}

.principal__pantalla.menu-active .menu__general{
    width: 29rem;
}
.menu__general{
    position: fixed;
    height: 100%;
}
.cont-select-deparment.openmenu .icon-arrow {
    transform: rotate(180deg);
}

.cont-select-deparment.openmenu .cont-select-list,
.cont-select-deparment:hover .cont-select-list {
    display: block;
}

.menu__content {
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 1em;
}

.menu__content a {
    color: vars.$background-fondo;
    text-decoration: none;
    padding: 1rem 1em;
    transition: color 0.3s, transform 0.3s; 
    font-size: 1em; 
    font-weight: bold;
}

.menu__content a:hover {
    color: vars.$resaltador;
    transform: translateX(10px); 
}

.menu__shape{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.menu__shape img{
    width: 78%;
}


.menu__close {
    font-size: 2em;
    cursor: pointer;
    align-self: flex-end;
    transition: transform 0.3s; 
}

.menu__close:hover {
    color: vars.$resaltador;
    transform: rotate(90deg);
}

.menu__close {
    font-size: 2em;
    color: vars.$background-fondo;
    cursor: pointer;
    align-self: flex-end;
    transition: transform 0.3s;
}
.dropdown {
    position: relative;
    width: 90%;
    color: vars.$background-fondo;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
    font-weight: bold;
    padding: 0;
}
.dropdown__toggle {
    display: flex;
    align-items: center;
}


.dropdown__icon {
    margin-left: 5px;
    font-size: 0.8em;
}

.dropdown__content {
    display: none;
    position: relative;
    background-color: vars.$menu-color;
    width: 100%;
    border-radius: 1rem;
    z-index: 2;
    top: 0rem;
    left: 6%;
}

.dropdown__content a {
    color: vars.$background-fondo;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown__content a:hover {
    background-color: vars.$resaltador;
    color: vars.$principal-color;
}

.dropdown:hover .dropdown__content {
    display: block;
}
.dropdown__toggle {
    display: flex;
    align-items: center;
}

.dropdown__icon {
    margin-left: 5px;
    font-size: 0.8em;
}
.dropdown__content {
    display: none;
    position: relative;
    background-color: vars.$menu-color;
    width: 100%;
    border-radius: 1rem;
    z-index: 2;
    top: 0rem;
    left: 6%;
}

.dropdown__content a {
    color: vars.$background-fondo;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown__content a:hover {
    background-color: vars.$resaltador;
    color: vars.$principal-color;
}

.dropdown:hover .dropdown__content {
    display: block;
}

/* Ajuste del buscador */
.cont-input-search {
    transition: left 0.5s ease, width 0.5s ease;
}

.principal__pantalla.menu-active .menu__general {
    width: 250px; /* Ancho del menú */
}

.principal__pantalla.menu-active .layout__principal {
    width: calc(100% - 250px);
}

.principal__pantalla.menu-active .cont-input-search {
    left: 45%;
    width: 33%; 
}

.principal__pantalla.menu-active .navbar__links {
    margin-right: 13%;
}
.menu-menu__active{
    width: 20%;
    position: fixed;
    height: 100%;
    overflow: hidden;
    left: 0;
}
/*ESTILOS DE BUSCADOR GENERAL*/
.cont-input-search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: vars.$background-fondo;
    padding: 0px;
    width: 52%;
    max-width: 60%;
    position: fixed;
    left: 35%;
    transform: translate(-50%, 16%);
    z-index: 3;
    border-radius: 1.5rem;
}

.cont-select-deparment {
    position: relative;
    cursor: pointer;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    background-color: vars.$principal-color;
    color: vars.$background-fondo;
    font-weight: bold;
    white-space: nowrap; 
    max-width: 40%;
    text-overflow: ellipsis;
    border-radius: 1.5rem 0 0 1.5rem;
}
.icon-arrow {
    transition: transform 0.3s ease;
    color: vars.$background-fondo;
}

.cont-select-deparment.openmenu .icon-arrow {
    transform: rotate(180deg);
}
    
.cont-select-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 33vh;
    background: vars.$background-fondo;
    color: vars.$principal-color;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: none;
    overflow: hidden;
    z-index: 10;
}
    
.cont-select-deparment.openmenu .cont-select-list,
.cont-select-deparment:hover .cont-select-list {
    display: block;
}

.cont-select-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cont-select-list li {
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.cont-select-list li:hover {
    background: vars.$principal-color;
    color: vars.$background-fondo;
}
    
.icon-search {
    font-size: 1.6rem; 
    color: vars.$principal-color;
    cursor: pointer;
    padding: 13px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
}
.label {
    flex-grow: 1;
    position: relative;
}

.label input {
    width: 100%;
    border: none;
    font-size: 12px;
    font-weight: bold;
    outline: none;
}

.btn-clear-text {
    background: none;
    border: none;
    color: #999;
    font-size: 16px;
    cursor: pointer;
    display: none;
}

.navbar__general {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    z-index: 2;
}

.navbar__primary{
    width: 100%;
    height: 6rem;
    background-color: vars.$text-color2;
    position: relative;
    overflow: hidden;
    margin: 0rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
    gap: 10rem;
}
.navbar__hamburger {
    font-size: 3rem;
    display: flex;
    padding: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
    background-color: vars.$text-color2;
    border-radius: 2rem;
    color: vars.$background-fondo;
    font-weight: bold;
    gap: 1rem;
}
.navbar__hamburger img {
    width: 3rem;
}
 .navbar__links {
    width: 35%;
    /*display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem;*/
} 
.navbar__links a {
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 999;
    color: vars.$principal-color;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
}

.navbar__links a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.2rem;
    bottom: 0;
    left: 0;
    background-color: vars.$principal-color;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.navbar__links a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.navbar__links a:hover {
    color: vars.$principal-color-hover; 
}
/** TARJETA  DE CONDICIONES DEL CLIENTE */
.welcome-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: vars.$background-fondo;
    color: vars.$principal-color;
    /* border-radius: 1.5rem; */
    text-align: center;
    position: relative;
}

.welcome-container h2 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
}

.details {
    display: flex;
    justify-content: space-around;
    font-size: 0.8rem;
}

.details__detail {
    text-align: center;
}
.label__welcome {
    display: block;
    font-size: 1rem;
    font-weight: 600;
}

.value {
    font-size: 1rem;
    font-weight: bold;
}

.navbar__logo img {
    width: 19%;
    max-width: 100%;
    height: auto;
}

.navbar__exit,.navbar__carshop{
    cursor: pointer;
}

.navbar__carshop img {
    width: 5rem;
}

.cart-count{
    background-color: vars.$menu-color;
    width: 2.7rem;
    border-radius: 3rem;
    position: absolute;
    margin: -4rem 0 0 3rem;
    color: vars.$background-fondo;
    text-align: center;
    font-size: 2rem;
    font-weight: 999;
}


.navbar__exit img{
    margin-left: 2rem;
    width: 4rem;
}

/* Estilos adicionales para el navbar secundario */
.second-navbar__container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.carshop-log__icon{
    font-size: 2.5rem;
    color: vars.$principal-color;
    cursor: pointer;
    position: relative;
    font-size: 2.8rem;
    padding: 2rem;
    border-radius: 2rem;
}

@media (max-width: 768px) {
    .welcome-container{
        width: 100%;
        padding: 0px;
        border-radius: 0;
    }
    .carshop-log__icon{
        font-size: 2.2rem;
    }
}