<!---Pantalla principal---->
<section class="navbar__general">
    
    <nav class="navbar__content navbar__primary">

        <div class="navbar__hamburger">
            <img src="./assets/images/chiquitoblanco.png" alt="">
            <i id="hamburger" class="hamburguer__icon fa-solid fa-bars"></i>
        </div> 

        <div class="container content__buscadorprincipal">
            <div class="d-flex align-items-center">
                <div class="">
                    <button class="btn dropdown__toggle rounded-0" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="border: none; padding: 8px 10px; font-size: 14px;">
                        Todos 
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#">Opción 1</a></li>
                        <li><a class="dropdown-item" href="#">Opción 2</a></li>
                        <li><a class="dropdown-item" href="#">Opción 3</a></li>
                    </ul>
                </div>
                <input type="text" class="form-control rounded-0" placeholder="Buscar productos, marcas y más..." aria-label="Buscar productos, marcas y más..." style="padding: 8px 10px; font-size: 1.4rem; border: none;border-right: 1px solid #a3a3a3;">
                <div class="input-group-append">
                    <button class="btn btn-light rounded-0" type="button" style="border: none; padding: 2px 9px; background-color: transparent;font-size: 22px;">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="navbar__links">
            <div class="container-fluid container__details">
                <div class="d-flex justify-content-end">
                    <div class="dropdown">
                        <button class="btn btn-sm btn-outline-secondary dropdown__toggle" type="button" id="idcli" data-bs-toggle="dropdown" aria-expanded="false">
                            (00297) FARMACIA SNET, C.A. <i class="fas fa-solid fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="idcli">
                            <li><a class="dropdown-item" href="#" data-value="1">(00297) FARMACIA SNET, C.A.</a></li>
                            <li><a class="dropdown-item" href="#" data-value="2">(00297) FARMACIA SNET, C.A.</a></li>
                            <li><a class="dropdown-item" href="#" data-value="3">(00297) FARMACIA SNET, C.A.</a></li>
                        </ul>
                    </div>
                </div>
            
                <div class="container text-center">
                    <div class="row flex-nowrap">
                        <div class="col details__cli">
                            BCV<br>
                            2215
                        </div>
                        <div class="col details__cli">
                            ALMACEN<br>
                            MATURIN
                        </div>
                        <div class="col details__cli">
                            SEGMENTO<br>
                            CONDICION 17%
                        </div>
                        <div class="col details__cli">
                            DCT.VOLUMEN<br>
                            17
                        </div>
                        <div class="col details__cli">
                            GRUPO<br>
                            TAKI
                        </div>
                        <div class="col details__cli">
                            <i class="fas fa-shopping-cart cart-icon"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
    </nav>
</section>