<section class="menu__general" [class.openmenu]="isMenuOpen" [class.closedmenu]="!isMenuOpen" id="menu">
    <div class="menu__content">

        <ul class="nav flex-column menu__nav">
            <li class="nav-item">
                    <a class="nav-link menu__link" href="javascript:void(0)" (click)="navigateTo('/home')">
                    <i class="fas fa-home"></i><span *ngIf="isMenuOpen"> Inicio</span>
                </a>
            </li>

            <!-- <li class="nav-item">
                <a class="nav-link menu__link" href="#" data-bs-toggle="collapse" data-bs-target="#catalogosDropdown" aria-expanded="false">
                    <i class="fas fa-book"></i><span *ngIf="isMenuOpen"> Catálogos</span> <i class="fas fa-solid fa-angle-down menu__dropdown-icon"></i>
                </a>
                <div class="collapse menu__dropdown-content" id="catalogosDropdown">
                    <ul class="nav flex-column">
                        <li class="nav-item" >
                            <a class="nav-link menu__dropdown-link" href="#">Catálogo 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu__dropdown-link" href="#">Catálogo 2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu__dropdown-link" href="#">Catálogo 3</a>
                        </li>
                    </ul>
                </div>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link menu__link" href="#" data-bs-toggle="collapse" data-bs-target="#pedidosDropdown" aria-expanded="false">
                    <i class="fas fa-shopping-cart"></i><span *ngIf="isMenuOpen"> Pedidos</span> <i class="fas fa-solid fa-angle-down menu__dropdown-icon"></i>
                </a>
                <div class="collapse menu__dropdown-content" id="pedidosDropdown">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link menu__dropdown-link" href="#">Pedido 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu__dropdown-link" href="#">Pedido 2</a>
                        </li>
                    </ul>
                </div>
            </li> -->
            <li class="nav-item">
                <a class="nav-link menu__link" href="javascript:void(0)" (click)="navigateTo('/pedidos')">
                    <i class="fas fa-shopping-cart"></i><span *ngIf="isMenuOpen"> Pedidos</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu__link" href="#">
                    <i class="fas fa-history"></i><span *ngIf="isMenuOpen"> Historial</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu__link" href="javascript:void(0)" (click)="navigateTo('/miperfil')">
                    <i class="fas fa-user"></i><span *ngIf="isMenuOpen"> Perfil</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu__link" href="#">
                    <i class="fas fa-sign-out-alt"></i><span *ngIf="isMenuOpen"> Cerrar sesión</span>
                </a>
            </li>
        </ul>

        <div class="menu__footer" *ngIf="isMenuOpen">
            Insuaminca, + cerca de ti
        </div>
    </div>
</section>