<section class="menu__general openmenu" >
    <div class="menu__content">

      <ul class="nav flex-column menu__nav">
        <li class="nav-item" >
          <a class="nav-link menu__link" href="javascript:void(0)" (click)="navigateTo('/home')">
            <i class="fas fa-home"></i><span *ngIf="isMenuOpen"> Inicio</span>
          </a>
        </li>
  
        <li class="nav-item" >
          <a class="nav-link menu__link" href="javascript:void(0)" (click)="navigateTo('/pedidos')">
            <i class="fas fa-cart-plus"></i><span *ngIf="isMenuOpen"> Catalogo</span>
          </a>
        </li>

          <li class="nav-item" >
              <a class="nav-link menu__link" href="javascript:void(0)" (click)="navigateTo('/cargar-pedidos')">
                  <i class="fas fa-upload"></i><span *ngIf="isMenuOpen"> Cargar pedidos desde archivo </span>
              </a>
          </li>
  
        <li class="nav-item" >
          <a class="nav-link menu__link" href="javascript:void(0)" (click)="navigateTo('/miperfil')">
            <i class="fas fa-user"></i><span *ngIf="isMenuOpen"> Perfil</span>
          </a>
        </li>

        <li class="nav-item" >
          <a class="nav-link menu__link" href="javascript:void(0)" (click)="navigateTo('/historialped')">
            <i class="fas fa-circle-nodes"></i><span *ngIf="isMenuOpen"> Triangulaciones Efectuadas</span>
          </a>
        </li>

        <li class="nav-item" *ngIf="usuariopadre === 'MASTERPROV'">
          <a class="nav-link menu__link" href="javascript:void(0)" (click)="navigateTo('/admin')">
            <i class="fas fa-circle-nodes"></i><span *ngIf="isMenuOpen"> Resumen de ventas</span>
          </a>
        </li>

        <li class="nav-item" *ngIf="usuariopadre === 'MASTERPROV'">
          <a class="nav-link menu__link" href="javascript:void(0)" (click)="navigateTo('/admin/pedidos')">
            <i class="fas fa-circle-nodes"></i><span *ngIf="isMenuOpen"> Detalles por vendedor</span>
          </a>
        </li>
  
        <!-- <li class="nav-item" >
          <a class="nav-link menu__link" href="#" data-bs-toggle="collapse" data-bs-target="#reportesDropdown" aria-expanded="false">
            <i class="fas fa-chart-line"></i><span *ngIf="isMenuOpen"> Reportes</span> <i class="fas fa-solid fa-angle-down menu__dropdown-icon"></i>
          </a>
          <div class="collapse menu__dropdown-content" id="reportesDropdown">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link menu__dropdown-link" href="javascript:void(0)" (click)="navigateTo('/pedidos')">
                  <i class="fas fa-history"></i><span *ngIf="isMenuOpen"> Historial de pedidos</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link menu__dropdown-link" href="javascript:void(0)" (click)="navigateTo('/tomaexcel')">
                  <i class="fas fa-file-invoice-dollar"></i><span *ngIf="isMenuOpen"> Exportar estado de cuenta</span>
                </a>
              </li>
            </ul>
          </div>
        </li> -->
  
        <li class="nav-item" >
          <a class="nav-link menu__link" href="javascript:void(0)" (click)="logout()">
            <i class="fas fa-sign-out-alt"></i><span *ngIf="isMenuOpen"> Cerrar sesión</span>
          </a>
        </li>
      </ul>
  

        <div class="menu__footer" *ngIf="isMenuOpen">
            Insuaminca, + cerca de ti
        </div>
    </div>
</section>