@use '../../../styles/variables.scss' as vars;

* {
    transition: all ease-in-out 0.25s;
}

.menu__general {
    box-shadow: none;
    margin-top: 6rem;
    position: relative;
    border-right: 1px solid #a3a3a3;
    transition: width 0.3s ease;
    width: 25vw;
    height: auto;
}

.menu__general.closedmenu {
    width: 3.4rem; 
}
.menu__link.closedmenu {
    width: 0;
    border: none;
}

.menu__content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menu__link {
    display: flex;
    align-items: center;
    padding: 1rem;
    color: #333;
    border-bottom: 1px solid #dee2e6;
    /* width: 80%; */
    width: auto;
    position: relative;
}
// .menu__link:hover {
//     background-color: #e9ecef;
// }

.menu__link i {
    margin-right: 10px;
}

.menu__dropdown-content {
    background-color: #f8f9fa;
    border-radius: 5px;
    margin-left: 10px;
    padding: 5px;
}

.menu__dropdown-link {
    padding: 8px 15px;
    color: #333;
    text-decoration: none;
    display: block;
}

// .menu__dropdown-link:hover {
//     background-color: #e9ecef;
// }

.menu__dropdown-icon {
    transition: transform 0.3s ease-in-out;
    margin-left: auto;
}

.menu__link[aria-expanded="true"] .menu__dropdown-icon {
    transform: rotate(180deg);
}

.menu__dropdown-content {
    padding-left: 2rem;
}

.menu__footer {
    margin-top: 45rem;
    color: vars.$menu-color;
    text-align: center;
}

.nav-item:hover {
    cursor: pointer;
    background: #6bc32d80;
}
