@use '../../../styles/variables.scss' as vars;
@import './../../pages/home-page/home-page.component.scss';


.container-max {
    padding: 2rem;
    margin-top: 10vh;
    min-height: 85vh !important;
}

th {
  background: #6cc32c !important;
  color: #FFF !important;
  text-align: center !important;
  font-weight: 900 !important;
  padding: 1.5rem !important;
}

.border-left-top {
  border-top-left-radius: 1rem !important;
}

.border-right-top {
  border-top-right-radius: 1rem !important;
}

td {
  padding: 1rem !important;
  text-align: left;
  border: 1px solid #ccc;
}

tr:hover {
  cursor: pointer;
  transition: all 0.25 ease-in-out;
  background: rgba(0, 0, 0, 0.14);
}

.modal-dialog {
  width: auto;
  max-width: 95vw !important;

}

.img-product {
  width: 50px !important;
}

.box-modal {
  display: flex;
   
    padding: 2rem;
    border: 1px solid #CCC;
    border-radius: 1rem;
    margin-bottom: 1rem !important;
    width: 98.5%;
    margin: auto;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.div-text {
  display: flex;
  flex-direction: column;
}

.historialped__main{
  width: 100%;
  margin-top: 7rem;
  padding: 1rem;
}

.historialped {
    &__historial-table {
        width: 100%;
        margin-bottom: 2rem;
        border: none;
        border-radius: 1rem;
      }
      &__historial-table th {
          background-color: vars.$background-fondo;
          color: vars.$menu-color;
          font-weight: bold;
          padding: 1rem;
          text-align: left;
          border-bottom: none;
          vertical-align: middle; 
      }
      
      &__historial-table td {
          color: vars.$menu-color;
          padding: 0.5rem;
          border: 1px solid vars.$bordes-claros;
          vertical-align: middle;
          text-align: left;
      }
      /* &__historial-table tbody tr:hover {
          cursor: pointer;
          background-color: #ebebeb;
      } */
      .status__com{
          color: vars.$text-color2;
      }
      .mi-perfil__pedidos{
          display: flex;
          justify-content: center;
      }
      &__filtros-inputs {
        margin: 1rem;
        display: flex;
        gap: 10px;
      }
    
      &__filtros-inputs .form-control {
        width: 150px;
        border-radius: 1rem;
      }
      &__filtros-inputs .form-control::placeholder {
          color: vars.$menu-color;
          text-align: center;
      }
      .limpafiltro{
          color: red;
          position: relative;
          margin: 0 auto;
          border: none;
          font-size: 1rem;
          text-decoration: none;
          text-align: center;
      }
      &__checkout-button {
        width: 80%;
        padding: 10px 20px;
        border: none;
        background-color: vars.$text-color2;
        color: vars.$background-fondo;
        border-radius: 1rem;
      }
      &__checkout-button:hover {
        background-color: vars.$text-color2-hover;
      }
}

.historialped__pedidos {
    display: flex;
    justify-content: center;
}

.detalle__table-container {
  max-height: 300px;
  overflow-y: auto;
  border: none; // Elimina el borde
  border-radius: 1rem;
  margin-top: 1rem; // Reduce el margen superior
}

.detalle__table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
}

.detalle__table th {
  background-color: vars.$background-fondo;
  color: vars.$menu-color;
  font-weight: bold;
  padding: 0.5rem; // Reduce el padding
  text-align: center;
  border-bottom: none;
  vertical-align: middle;
}

.detalle__table td {
  color: vars.$menu-color;
  padding: 0.3rem; // Reduce el padding
  border: 1px solid vars.$bordes-claros;
  vertical-align: middle;
  text-align: center;
}

.detalle__table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.detalle__table tbody tr:hover {
  cursor: pointer;
  background-color: #ebebeb;
}

.detalle__table th:first-child,
.detalle__table td:first-child {
  width: 60rem; 
  text-align: left; 
}

