<app-nav-bar (openMenu)="openMenu($event)"></app-nav-bar>

<div style="display: flex; flex-direction: row;">
  <mat-sidenav-container>
    <mat-sidenav mode="over" [opened]="toggleMenu">
      <app-side-bar></app-side-bar>
    </mat-sidenav>
    <mat-sidenav-content class="w-100">
      <div class="container-fluid container-max">
        <div class="row">
          <div class="col-12">
            <h3 class="card-title text-primary"><i class="fas fa-circle-nodes"></i><span> Triangulaciones Efectuadas</span></h3>
          </div>
        </div>

        <div class="row mt-5" *ngIf="historialPedidos && historialPedidos.length > 0">
          <div class="col-12">
            <table class="historialped__historial-table">
              <thead>
                <tr>
                  <th scope="col" class="border-left-top">Número</th>
                  <th scope="col">Cliente</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Total</th>
                  <th scope="col">IVA</th>
                  <th scope="col">Total General</th>
                  <th scope="col">Total General $</th>
                  <th scope="col" style="text-align: center;">Detalle</th>
                  <th scope="col" class="border-right-top" style="text-align: center;">Descargar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pedido of historialPedidos">
                  <td>{{ pedido.numero }}</td>
                  <td>{{ pedido.nombre }}</td>
                  <td>{{ pedido.fecha }}</td>
                  <td>{{ pedido.totals | number: '1.2-2'}}</td>
                  <td>{{ pedido.iva | number:'1.2-2' }}</td>
                  <td>{{ pedido.totalg | number:'1.2-2' }}</td>
                  <td>{{ pedido.totalg / authService.getTasa() | number:'1.2-2'}}</td>
                  <td>
                  <i class="show__detail fa-solid fa-eye"
                      title="Mostrar detalle"
                      data-bs-toggle="modal"
                      data-bs-target="#staticBackdrop"
                      (click)="openDetail(pedido)"
                      ></i>
                  </td>
                  <td style="text-align: center; cursor: pointer;">
                    <i class="fa-solid fa-file-excel"
                       title="Ver en Excel"
                       (click)="abrirEnlaceExcel(pedido.numero)"
                       style="color: #217346; font-size: 1.2em;">
                    </i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row mt-5" *ngIf="!historialPedidos || historialPedidos.length === 0">
          <h3>Aun no se encontraron triangulaciones</h3>
        </div>
      </div>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>


  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl"> <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Detalle de Triangulación</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" *ngIf="pedidoActivo">
          <div class="row">
            <div class="col-md-6 box-modal">
              <div class="div-text">
                <label><strong>Cliente:</strong> {{pedidoActivo.nombre }}</label><br>
                <label><strong>Número:</strong> {{pedidoActivo.numero }}</label><br>
                <label><strong>Fecha:</strong> {{pedidoActivo.fecha }}</label><br>
                <label><strong>Total General:</strong> {{pedidoActivo.totalg | number: '1.2-2'}}</label>
                <label><strong>Total General $:</strong> {{pedidoActivo.totalg / authService.getTasa() | number: '1.2-2'}}</label>
              </div>
            </div>
            <div class="col-md-6 text-end">
              <img class="w-25" src="./assets/images/logoprv/{{authService.getProveed()}}.png" alt="Logo Proveedor">
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-12">
              <p><strong>Rif/CI:</strong> {{ pedidoActivo?.rifci }}</p>
              <p><strong>Dirección:</strong> {{ pedidoActivo?.direccion }}</p>
              <p><strong>Vendedor:</strong> {{ pedidoActivo?.nomvend }}</p>
              <p><strong>Email:</strong> {{ pedidoActivo?.email }}</p>
              <p><strong>Grupo:</strong> {{ pedidoActivo?.grupo }}</p>
              <p><strong>Observaciones:</strong> {{ pedidoActivo?.observ1 }}</p>
            </div>
          </div>

          <div class="row mt-5" *ngIf="detallePedidoActivo && detallePedidoActivo.length > 0">
            <div class="col-12">
              <h5 class="mb-3">Detalle de Productos</h5>
              <table class="historialped__historial-table">
                <thead>
                  <tr>
                    <th scope="col" class="border-left-top">Código</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio Unitario</th>
                    <th scope="col">Precio Unitario $</th>
                    <th scope="col">Descuento 3</th>
                    <th scope="col">Total</th>
                    <th scope="col">Total $</th>
                    <th scope="col" class="border-right-top">IVA</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let detalle of detallePedidoActivo">
                    <td>{{ detalle.codigo }}</td>
                    <td>{{ detalle.desca }}</td>
                    <td>{{ detalle.cana }}</td>
                    <td>{{ detalle.preca | number: '1.2-2'}}</td>
                    <td>{{ detalle.preca / authService.getTasa()| number: '1.2-2'}}</td>
                    <td>{{ detalle.descu3 }}%</td>
                    <td>{{ detalle.tota | number: '1.2-2'}}</td>
                    <td>{{ detalle.tota / authService.getTasa()| number: '1.2-2'}}</td>

                    <td>{{ detalle.iva }}%</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row mt-3" *ngIf="!detallePedidoActivo || detallePedidoActivo.length === 0">
            <div class="col-12">
              <p>No hay detalles disponibles para este pedido.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>