

<div class="carrito">

    <ng-template #productModalTemplate>
        <h2 mat-dialog-title>{{ selectedProduct?.descrip }}</h2>
        <mat-dialog-content class="mat-typography">
            <div class="fichaproduct__container">
                <div class="product-content">
                    <div class="product-image">
                        <img [src]="imageficha" alt="{{ selectedProduct?.descrip }}">
                    </div>
                    <div class="product-details">
                        <div class="product-header">
                            <h1>{{ selectedProduct?.descrip }}</h1>
                        </div>
                        <div class="price">
                            <p class="usd">US$ {{ portalcliLogicaService.formatCurrency(selectedProduct?.preciod1) }}</p>
                            <p class="bs">Bs. {{ portalcliLogicaService.formatCurrency(selectedProduct?.precio1) }}</p>
                            <ul class="product-data">
                                <li>Modelo: {{ selectedProduct?.modelo ?? ''}}</li>
                                <li>Origen: {{ selectedProduct?.origen ?? ''}}</li>
                                <li>Marca: {{ selectedProduct?.marca ?? ''}}</li>
                                <li>Principio Activo:{{ selectedProduct?.pactivo ?? ''}}</li>
                                <li>Cod. Barra: {{ selectedProduct?.barras }}</li>
                            </ul>
                        </div>
                        <!-- <div class="quantity">
                            <p class="stock"><br>Existencia: {{ selectedProduct?.existen | number: '0.0-0' }}</p>
                        </div> -->
                    </div>
                </div>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Cerrar</button>
        </mat-dialog-actions>
    </ng-template>

    <section class="carrito__products">


        <div class="row">

            <div class="col-2 offset-6">
                <mat-form-field appearance="outline" style="width: 100% !important;">
                    <mat-label>Descuento Lineal (%)</mat-label>
                    <input
                            matInput
                            type="number"
                            [value]="descuentoLineal"
                            [(ngModel)]="descuentoLineal"
                            (input)="aplicarDescuentoLineal($event)" min="0"
                            max="100"
                    >
                </mat-form-field>
            </div>
            <div class="col-2">
                <div class="sort-container">
                    <mat-form-field appearance="outline">
                        <mat-label>Ordenar por:</mat-label>
                        <mat-select [(value)]="sortField" (selectionChange)="onSortChange($event.value)">
                            <mat-option value="descrip">Descripción</mat-option>
                            <mat-option value="preciosiniva">Precio Bs.</mat-option>
                            <mat-option value="preciod">Precio US$</mat-option>
                            <mat-option value="cant">Cantidad</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <button class="btn btn-light" (click)="toggleSortDirection()">
                        <mat-icon>{{ sortDirection === 'asc' ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
                    </button>


                </div>
            </div>
            <div class="col-2">
                <div class="w-100">
                    <a  (click)="vaciacar()" class="clear-car"> Vaciar carrito</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center search-bar">
                    <input
                            type="text"
                            class="form-control rounded-0"
                            placeholder="Buscar en mi carrito..."
                            aria-label="Buscar en mi carrito..."
                            style="padding: 8px 10px; font-size: 1.4rem; border: none; border-right: 1px solid #a3a3a3;"
                            (keyup)="applyFilter($event)"
                    />
                    <div class="input-group-append">
                        <button
                                class="btn btn-light rounded-0"
                                type="button"
                                style="border: none; padding: 2px 9px; background-color: transparent; font-size: 22px;"
                        >
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>


<!--        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>-->

        <table mat-table [dataSource]="dataSource" matSort class="carrito__table table table-striped table-bordered">
            <ng-container matColumnDef="img">
                <th scope="col" mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row"><img
                        [src]="row.img"
                        alt="Producto"
                        data-bs-toggle="modal"
                        data-bs-target="#productModal"
                        (click)="openProductModal(row)"
                        class="carrito__product-image"></td>
            </ng-container>

            <ng-container matColumnDef="descrip">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                <td mat-cell *matCellDef="let row" class="carrito__product-name"> {{row.descrip}} </td>
            </ng-container>

            <ng-container matColumnDef="preciosinivad">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Precio US$ </th>
                <td mat-cell *matCellDef="let row" class="carrito__product-usd" id="preciod_{{row.codigoa}}"> {{ this.formatCurrency(this.recalculadescud(row)) }} </td>
            </ng-container>

            <ng-container matColumnDef="ivad">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> IVA US$ </th>
                <td mat-cell *matCellDef="let row" class="carrito__product-iva-usd">  {{ this.formatCurrency(row.ivad)}}</td>
            </ng-container>

            <ng-container matColumnDef="preciosiniva">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Precio Bs. </th>
                <td mat-cell *matCellDef="let row" class="carrito__product-price" id="preciobs_{{row.codigoa}}">{{ this.formatCurrency(this.recalculadescubs(row),'VES') }}</td>
            </ng-container>

            <ng-container matColumnDef="ivabs">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> IVA Bs. </th>
                <td mat-cell *matCellDef="let row" class="carrito__product-iva"> {{ this.formatCurrency(row.ivabs,'VES') }} </td>
            </ng-container>


            <ng-container matColumnDef="totald">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Total US$ </th>
                <td mat-cell *matCellDef="let row" class="carrito__product-total-usd" id="totald_{{row.codigoa}}">  {{ this.formatCurrency(row.totald)}}</td>
            </ng-container>

            <ng-container matColumnDef="totalbs">
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Total Bs. </th>
                <td mat-cell *matCellDef="let row" class="carrito__product-total" id="totalbs_{{row.codigoa}}"></td>
            </ng-container>

            <ng-container matColumnDef="cant">
                <th scope="col" mat-header-cell *matHeaderCellDef> Cantidad </th>
                <td mat-cell *matCellDef="let row">
                    <div class="carrito__quantity">
                        <button (click)="updatecant(row.id_pedido, row.codigoa, row.existen, '-') " class="carrito__quantity-button">
                            <i class="fa-solid fa-minus"></i>
                        </button>
                        <input type="text" min="0" maxlength="10" [value]="row.cant" id="cantidad_{{ row.codigoa }}" class="carrito__quantity-input" readonly>
                        <button (click)="updatecant(row.id_pedido, row.codigoa, row.existen, '+')" class="carrito__quantity-button">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="descprov">
                <th scope="col" mat-header-cell *matHeaderCellDef> Descuento aplicado </th>
                <td mat-cell *matCellDef="let row">
                    <div class="carrito__quantity">
<!--                        <input type="" min="0" maxlength="10" [value]="row.descprov" id="descuentocar_{{ row.codigoa }}" class="carrito__quantity-input" readonly>-->
                        {{row.descprov}}
                    </div>
                </td>
            </ng-container>

           <!--  <ng-container matColumnDef="descu">
                <th scope="col" mat-header-cell *matHeaderCellDef> Oferta </th>
                <td mat-cell *matCellDef="let row" class="carrito__product-total-usd">  {{row.descu}}</td>

            </ng-container> -->

            <ng-container matColumnDef="actions">
                <th scope="col" mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row">
                    <button class="carrito__remove-button" mat-icon-button (click)="eliminareg(this, row.id_pedido, row.codigoa)">
                        <mat-icon>close</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </section>

    <div class="container d-flex gap-3">
        <section class="carrito__totals mt-5">
            <div class="carrito__totals-container">
                <div class="carrito__totals-item">
                    <h3 class="carrito__totals-title">US$</h3>
                    <p class="carrito__totals-info" id="descuento">Descuento US$: <span>{{ this.formatCurrency(descuentoUsd) }}</span></p>
                    <p class="carrito__totals-info" id="totalivad">IVA US$: <span>{{ this.formatCurrency(ivaUsd) }}</span></p>
                    <p class="carrito__totals-info" id="totald">Total US$: <span>{{ totalUsd | number:'1.2-2' }}</span></p>
                </div>
                <div class="carrito__totals-item">
                    <h3 class="carrito__totals-title">Bs.</h3>
                    <p class="carrito__totals-info">Descuento Bs: <span>{{ this.formatCurrency(descuentoBs,'VES') }}</span></p>
                    <p class="carrito__totals-info">IVA Bs: <span>{{ this.formatCurrency(ivaBs,'VES') }}</span></p>
                    <p class="carrito__totals-info" id="total">Total Bs: <span>{{ totalBs | number:'1.2-2' }}</span></p>
                </div>
            </div>

            <footer class="carrito__footer">
                <button class="carrito__checkout-button" (click)="enviaped();">Finalizar compra</button>
            </footer>
        </section>

        <section class="carrito__totals mt-5">
            <h3 class="carrito__totals-title">Totales:</h3>

            <div class="carrito__totals-container">
                <div class="carrito__totals-item">
                    <p class="carrito__totals-info">Unidades: <span>{{ unidades }}</span></p>
                </div>
                <div class="carrito__totals-item">
                    <p class="carrito__totals-info">Productos: <span>{{ encarprod }}</span></p>
                </div>
            </div>
        </section>
    </div>

</div>
