* {
  transition: all 0.25s ease-in-out;
}

.container-max {
  padding: 2rem;
  margin-top: 5rem;
  min-height: 90vh;
}

.m-auto {
  margin: auto !important;
}

.toggle-box {
  border: 1px solid #6bc32d;
  border-radius: 2rem;
}

.btn-download {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 4vh;
  border-radius: 1rem;
  border: none;
  color: #FFF;
  background: #0377bf;
  font-size: 1.5rem;
}

.btn-upload {
  margin-top: 0.5vh !important;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 4vh;
  border-radius: 1rem;
  border: none;
  color: #FFF;
  background: #6bc32d;
  font-size: 1.5rem;
}

.disclaimer {
  color: #dc3545;
}

table {
  box-shadow: none !important;
}

th {
  background: #0584c5 !important;
  color: #FFF;
  font-weight: bold;
  font-size: 1.7rem;
}

.row-hover:hover {
  cursor: pointer;
  background: #cccccc38 !important;
}