<app-nav-bar></app-nav-bar>
<div style="display: flex; flex-direction: row;">
    <app-side-bar></app-side-bar>


        <!-- Layaout principal -->
        <div class="pagos-content">
            <header class="pagos__header">
                <h1 class="ofertas-title pagos__title">Pagos</h1>
              </header>
            <div class="row">
                <!-- <div class="pagos-form-col">
                    <div class="card pagos-form-card">
                        <div class="card-body">
                            <h3 class="card-title pagos-form-title mb-4">Cancelar facturas</h3>
                            <form class="pagos-form" method="POST" enctype="multipart/form-data">
                                <div class="mb-3 form-group">
                                    <label for="forma_pago" class="form-label pagos-label">Forma de pago</label>
                                    <select name="forma_pago" id="forma_pago" class="form-select pagos-select" required>
                                        <option value="">Seleccione una forma de pago</option>
                                    </select>
                                </div>
        
                                <div class="mb-3 form-group">
                                    <label for="codbanc" class="form-label pagos-label">Banco</label>
                                    <select name="codbanc" id="codbanc" class="form-select pagos-select" required>
                                        <option value="">Seleccione un banco</option>
                                    </select>
                                </div>
        
                                <div class="mb-3 form-group">
                                    <label for="monto" class="form-label pagos-label">Monto Bs</label>
                                    <input type="number" name="monto" id="monto" step="0.01" min="0" placeholder="0.00" class="form-control pagos-input" required disabled>
                                </div>
        
                                <div class="mb-3 form-group">
                                    <label for="montod" class="form-label pagos-label">Monto $</label>
                                    <input type="number" name="montod" id="montod" step="0.01" min="0" placeholder="0.00" class="form-control pagos-input" required disabled>
                                </div>
        
                                <div class="mb-3 form-group">
                                    <label for="total_transferencia" class="form-label pagos-label">Pagado</label>
                                    <input type="number" name="total_transferencia" id="total_transferencia" step="0.01" min="0" placeholder="0.00" class="form-control pagos-input" required>
                                </div>
        
                                <div class="mb-3 form-group">
                                    <label for="numref" class="form-label pagos-label">Número de referencia</label>
                                    <input type="text" name="numref" id="numref" placeholder="Ingrese el número de referencia" class="form-control pagos-input" required>
                                </div>
        
                                <div class="mb-3 form-group">
                                    <label for="descrip" class="form-label pagos-label">Facturas a cancelar</label>
                                    <textarea name="descrip" id="descrip" rows="4" placeholder="Ingrese los documentos a cancelar" class="form-control pagos-textarea" required [(ngModel)]="facturasACancelar"></textarea>
                                </div>
        
                                <button class="btn btn-primary pagos-submit-btn">Registrar pago</button>
                            </form>
                        </div>
                    </div>
                </div> -->

                <div class="pagos-form-col">
                    <div class="card pagos-form-card">

                        <div class="card-body">
                            <h4 class="card-title text-primary">Metodos de pago</h4>

                            <div class="mb-4 mt-4">
                                <div class="d-flex justify-content-around">
                                  <div class="pagos-metodo-container">
                                    <button class="btn pagos-metodo-btn pagos-metodo-btn-lg" [class.selected]="metodoPagoSeleccionado === 'VES'" (click)="seleccionarMetodoPago('VES')">
                                      <span class="pagos-metodo-icon pagos-metodo-icon-lg">Bs</span>
                                    </button>
                                    <div class="pagos-metodo-tooltip">Bolívares</div>
                                  </div>
                                  <div class="pagos-metodo-container">
                                    <button class="btn pagos-metodo-btn pagos-metodo-btn-lg" [class.selected]="metodoPagoSeleccionado === '$'" (click)="seleccionarMetodoPago('$')">
                                      <span class="pagos-metodo-icon pagos-metodo-icon-lg">$</span>
                                    </button>
                                    <div class="pagos-metodo-tooltip">Dólares</div>
                                  </div>
                                  <!-- <div class="pagos-metodo-container">
                                    <button class="btn pagos-metodo-btn pagos-metodo-btn-lg" [class.selected]="metodoPagoSeleccionado === '€'" (click)="seleccionarMetodoPago('€')">
                                      <span class="pagos-metodo-icon pagos-metodo-icon-lg">€</span>
                                    </button>
                                    <div class="pagos-metodo-tooltip">Euros</div>
                                  </div> -->
                                </div>
                            </div>
                              
                            <h4 class="card-title text-primary">Tipos de pago</h4>

                            <div class="mb-4 d-flex justify-content-around">

                              <div class="form-check" *ngFor="let tipo of tiposPago">
                                <input class="form-check-input" type="radio" name="tipo_pago" id="{{tipo}}" value="{{tipo}}" (change)="seleccionarTipoPago(tipo)" [disabled]="!metodoPagoSeleccionado" [checked]="tipoPagoSeleccionado === tipo">
                                <label class="form-check-label" for="{{tipo}}">{{tipo}}</label>
                              </div>
                            </div>
                          

                            <form class="pagos-form" method="POST" enctype="multipart/form-data">
                              <h4 class="card-title text-primary">Registro de pagos</h4>
                              <div *ngIf="mostrarSelectorCuenta">
                                <div class="mb-3 form-group">
                                    <label for="cuenta" class="form-label pagos-label">Seleccionar cuenta</label>
                                    <select name="cuenta" id="cuenta" class="form-select pagos-select" (change)="seleccionarCuenta($event.target)" [disabled]="!tipoPagoSeleccionado">
                                        <option value="">Seleccionar cuenta</option>
                                        <option *ngFor="let cuenta of cuentas" [value]="cuenta.codbanc" [ngValue]="cuenta">
                                            {{cuenta.banco}} ({{cuenta.numcuent}})
                                        </option>
                                    </select>
                                </div>
                        
                                <div *ngIf="cuentaSeleccionada">
                                    <div class="card pagos-cuenta-card">
                                      <div class="card-body d-flex align-items-center">
                                        <div class="mr-3">
                                          <img src="./../../../assets/images/logobanc/{{cuentaSeleccionada.numcuent.substring(0, 4)}}.png" alt="Logo banco" class="pagos-cuenta-logo">
                                        </div>
                                        <div>
                                          <h5 class="card-title pagos-cuenta-nombre">
                                            {{cuentaSeleccionada.banco}}
                                              <i class="fas fa-copy copiar-btn"  (click)="copiarAlPortapapeles(cuentaSeleccionada.banco)"></i>
                                          </h5>
                                          <p class="card-text pagos-cuenta-numero">
                                            Cuenta: {{cuentaSeleccionada.numcuent}}
                                              <i class="fas fa-copy copiar-btn" (click)="copiarAlPortapapeles(cuentaSeleccionada.numcuent)"></i>
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                </div>

                              </div>
                          
                              <div class="row mb-3">
                                <div class="col-md-6">
                                  <label for="fecha_transferencia" class="form-label pagos-label">Fecha transferencia bancaria</label>
                                  <input type="date" name="fecha_transferencia" id="fecha_transferencia" class="form-control pagos-input" required [disabled]="!tipoPagoSeleccionado">
                                </div>
                                <div class="col-md-6">
                                  <label for="numero_referencia" class="form-label pagos-label">Número de referencia</label>
                                  <input type="text" name="numero_referencia" id="numero_referencia" placeholder="Ingrese número de referencia" class="form-control pagos-input" required [disabled]="!tipoPagoSeleccionado">
                                </div>
                              </div>
                          
                              <div class="mb-3 form-group">
                                <label for="comprobante" class="form-label pagos-label">Cargar comprobante de pago</label>
                                <input type="file" name="comprobante" id="comprobante" class="form-control pagos-input" required [disabled]="!tipoPagoSeleccionado">
                              </div>
                          
                              <div class="mb-3 form-group">
                                <label for="monto" class="form-label pagos-label">Monto</label>
                                <input type="number" name="monto" id="monto" step="0.01" min="0" placeholder="0.00" class="form-control pagos-input" required [disabled]="!tipoPagoSeleccionado">
                              </div>

                              <div class="mb-3 form-group">
                                  <label for="descrip" class="form-label pagos-label">Facturas a cancelar</label>
                                  <textarea name="descrip" id="descrip" rows="4" placeholder="Ingrese los documentos a cancelar" class="form-control pagos-textarea" required [(ngModel)]="facturasACancelar" readonly></textarea>
                              </div>
    
                          
                              <button class="btn btn-primary pagos-submit-btn" [disabled]="!monto">Anexar pago</button>
                            </form>
                          </div>
                      
                    </div>
                  </div>
        
                <div class="col pagos-table-col">
                  <h4 class="card-title text-primary">Facturas a cancelar</h4>

                    <div class="container-fluid w-100 mt-4">

                        <div class="login-container">
                            <div class="d-flex justify-content-center align-items-center" *ngIf="isLoading">
                              <div class="spinner-border text-success" role="status">
                                <span class="visually-hidden">Cargando...</span>
                              </div>
                            </div>
                          </div>

                        <div class="row">
                            <div class="container">
                            <div class="d-flex align-items-center justify-content-left gap-3">
                                <mat-form-field appearance="outline" class="mr-2" style="max-width: 300px;">
                                <mat-label>Buscar documento..</mat-label>
                                <input matInput (keyup)="applyFilters($event)" placeholder="Buscar por documento o número">
                                </mat-form-field>

                                <mat-checkbox [(ngModel)]="showSelectedOnly" (change)="toggleShowSelectedOnly($event)">Mostrar Seleccionadas</mat-checkbox>      
                              
                                <div class="rowd-flex justify-content-between align-items-center mb-3">
                                  <div>
                                    <label for="sortField">Ordenar por:</label>
                                    <select id="sortField" [(ngModel)]="sortColumn" (change)="toggleSortDirection()">
                                      <option value="numero">Documento</option>
                                      <option value="emision">Emisión</option>
                                      <option value="entregado">Entregado</option>
                                      <option value="vence">Vence</option>
                                      <option value="monto">Monto</option>
                                      <option value="impuesto">I.V.A.</option>
                                      <option value="reteiva">Ret/IVA</option>
                                      <option value="saldo">Saldo</option>
                                      <option value="ppago">P.Pago</option>
                                      <option value="difc">D/Cambio</option>
                                      <option value="emidolar">Cambio</option>
                                      <option value="monto_dolar">Monto $</option>
                                      <option value="saldo_dolar">Saldo $</option>
                                      <option value="preabono">Preabono</option>
                                    </select>
                                    <button class="btn btn-sm btn-outline-secondary ml-2" (click)="toggleSortDirection()">
                                      <i class="fas" [ngClass]="{'fa-sort-up': sortDirection === 'asc', 'fa-sort-down': sortDirection === 'desc'}"></i>
                                    </button>
                                  </div>
                                </div>

                                
                              </div>
                            </div>
                        </div>
                  
                        <div *ngIf="showSelectedOnly && pagedPagos.length === 0">
                            <p>No has seleccionado ninguna fila.</p>
                        </div>
                  
                      <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                          <thead>
                            <tr class="text-center">
                              <th scope="col" class="align-middle">
                                <mat-checkbox (change)="selectAll($event)"></mat-checkbox>
                              </th>
                              <th scope="col" class="align-middle" (click)="sortData({ active: 'numero', direction: sortColumn === 'numero' && sortDirection === 'asc' ? 'desc' : 'asc' })">Documento</th>
                              <th scope="col" class="align-middle" (click)="sortData({ active: 'emision', direction: sortColumn === 'emision' && sortDirection === 'asc' ? 'desc' : 'asc' })">Emisión</th>
                              <th scope="col" class="align-middle" (click)="sortData({ active: 'entregado', direction: sortColumn === 'entregado' && sortDirection === 'asc' ? 'desc' : 'asc' })">Entregado</th>
                              <th scope="col" class="align-middle" (click)="sortData({ active: 'vence', direction: sortColumn === 'vence' && sortDirection === 'asc' ? 'desc' : 'asc' })">Vence</th>
                              <th scope="col" class="align-middle" (click)="sortData({ active: 'dias', direction: sortColumn === 'dias' && sortDirection === 'asc' ? 'desc' : 'asc' })">Dias para vencer</th>
                              <th scope="col" class="align-middle" (click)="sortData({ active: 'monto', direction: sortColumn === 'monto' && sortDirection === 'asc' ? 'desc' : 'asc' })">Monto</th>
                              <th scope="col" class="align-middle" (click)="sortData({ active: 'impuesto', direction: sortColumn === 'impuesto' && sortDirection === 'asc' ? 'desc' : 'asc' })">I.V.A.</th>
                              <th scope="col" class="align-middle" (click)="sortData({ active: 'reteiva', direction: sortColumn === 'reteiva' && sortDirection === 'asc' ? 'desc' : 'asc' })">Ret/IVA</th>
                              <th scope="col" class="align-middle" (click)="sortData({ active: 'saldo', direction: sortColumn === 'saldo' && sortDirection === 'asc' ? 'desc' : 'asc' })">Saldo</th>
                              <th scope="col" class="align-middle" (click)="sortData({ active: 'ppago', direction: sortColumn === 'ppago' && sortDirection === 'asc' ? 'desc' : 'asc' })">P.Pago</th>
                              <th scope="col" class="align-middle" (click)="sortData({ active: 'difc', direction: sortColumn === 'difc' && sortDirection === 'asc' ? 'desc' : 'asc' })">D/Cambio</th>
                              <th scope="col" class="align-middle" (click)="sortData({ active: 'emidolar', direction: sortColumn === 'emidolar' && sortDirection === 'asc' ? 'desc' : 'asc' })">Cambio</th>
                              <th scope="col" class="align-middle" (click)="sortData({ active: 'monto_dolar', direction: sortColumn === 'monto_dolar' && sortDirection === 'asc' ? 'desc' : 'asc' })">Monto $</th>
                              <th scope="col" class="align-middle" (click)="sortData({ active: 'saldo_dolar', direction: sortColumn === 'saldo_dolar' && sortDirection === 'asc' ? 'desc' : 'asc' })">Saldo $</th>
                              <th scope="col" class="align-middle" (click)="sortData({ active: 'preabono', direction: sortColumn === 'preabono' && sortDirection === 'asc' ? 'desc' : 'asc' })">Preabono</th>
                            </tr>
                            
                          </thead>
                          <tbody>
                            <tr *ngFor="let row of pagedPagos; let i = index" [ngClass]="{'table-primary': row.selected}">
                              <td class="align-middle text-center">
                                <mat-checkbox [(ngModel)]="row.selected" (change)="toggleRowSelection(row)"></mat-checkbox>
                              </td>
                              <td class="align-middle">{{ row.tipo_doc }}-{{ row.numero }}</td>
                              <td class="align-middle">{{ row.emision }}</td>
                              <td class="align-middle">{{ row.entregado ? row.entregado : 'No entregado' }}</td>
                              <td class="align-middle">{{ row.vence }}</td>
                              <td class="align-middle text-center">{{ row.dias }}</td>
                              <td class="align-middle">{{ row.monto }}</td>
                              <td class="align-middle">{{ row.impuesto }}</td>
                              <td class="align-middle">{{ row.reteiva }}</td>
                              <td class="align-middle" [ngStyle]="{'color': row.dias != 0 ? 'red' : 'green'}">{{ row.saldo }}</td>                              <td class="align-middle">{{ row.ppago ? row.ppago : 0 }}</td>
                              <td class="align-middle">{{ row.difc }}</td>
                              <td class="align-middle text-center">{{ portalcliLogicaService.formatCurrency(row.cdolar) }}</td>
                              <td class="align-middle">{{ portalcliLogicaService.formatCurrency((row.monto / row.cdolar)) }}</td>
                              <td class="align-middle">{{ portalcliLogicaService.formatCurrency(((row.saldo - row.preabono) / row.cdolar)) }}</td>
                              <td class="align-middle">{{ row.preabono }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                  
                      <mat-paginator [length]="totalPages * itemsPerPage" [pageSize]="itemsPerPage" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons (page)="pageChanged($event)"></mat-paginator>
                      <p>Total de filas seleccionadas: {{ selectedCount }}</p>
                    </div>
                  </div>

            </div>
        </div>
</div>

<app-footer></app-footer>
