<div class="portal" id="login__container">
    <div class="portal__login">
        <img src="./assets/images/InsuamincaLogo.png" alt="Logo Insuanet" class="portal__logo">					
            <h1 class="portal__title">¡Bienvenido a Insuanet!</h1>
            <!-- <h1 style="color:red;margin: 0;font-size:1.5rem;text-align: center;">$this->session->flashdata('mensaje')</h1> -->
            <section class="container_input_custom">
                <form (ngSubmit)="onSubmit()">
                    <div class="input_group">
                        <div class="input_wrapper full-width">
                            <input type="text" id="user" name="user" class="input_field" placeholder="" required>
                            <label for="user" class="input_label">Usuario</label>
                        </div>
                    </div>

                    <div class="input_group">
                        <div class="input_wrapper full-width">
                            <input type="password" id="pws" name="pws" class="input_field" placeholder="" required>
                            <label for="password" class="input_label">Contraseña</label>
                        </div>
                    </div>

                    <div class="input_button">
                        <button type="usr_submit" class="btn_primary">Ingresar</button>
                    </div>
                </form>
            </section>
            
        <a href="#" class="register_link_item">No tienes usuario? <span id="registrate__button" class="registrate__boton">Registrar</span></a>
        <a href="#" class="register_link_item">Olvidaste tu contraseña? <span id="olpws__button" class="registrate__boton">Recuperar</span></a> 
        <p class="portal__footer">Insuaminca, + cerca de ti</p>
    </div>
    <div class="portal__image">
        <img src="./assets/images/RECORTEALMA.png" class="login__background">
        <div class="portal__overlay"></div>
        <img src="./assets/images/modelo1.png" alt="Persona" class="portal__person">
    </div>
</div>