/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
.mat-mdc-select-value,
.mat-mdc-paginator-container,
.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple),
.mat-mdc-option .mdc-list-item__primary-text{
  font-family: "Alexandria", Helvetica, sans-serif !important;
}


@font-face {
    font-family: "Alexandria";
    src: url("/assets/font/alexandria/Alexandria-Medium.ttf") format("truetype");
    font-weight: 900; /* Peso de la fuente (bold) */
    font-style: normal;
  }
  
  html {
        font-size: 10px; 
        height: 100%;
    }

    body {
        margin: 0;
        width: 100%;
        height: 100%; 
        font-family: "Alexandria", Helvetica, sans-serif !important;
        font-size: 1.5rem; 
    }
html, body { height: 100%; }
body { margin: 0;}

.swal2-container .swal2-html-container {
  font-size: 1.5em !important; /* Ajusta el tamaño de la fuente según tus preferencias */
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Oscurece la pantalla */
  z-index: 1000; /* Asegura que esté en la parte superior */
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}

.mat-mdc-paginator { 
  background: #0084c5 !important;
  color: #FFF !important;
}

.mat-drawer-container {
  width: 100% !important;
}

.mat-sidenav-content {
  min-height: 100vh;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: rgb(255 255 255);
  border: 1px solid #6bc32d;
}
//ESTO ES LO QUE NO MOSTRABA LOS COLORES EN EL SELECTORES DEL CARRITO
/*.mat-mdc-select {
  color: white !important;
}*/

.mat-mdc-paginator-icon {
  fill: rgb(255 255 255) !important;
}


.mat-button-toggle-appearance-standard {
  padding: 1rem !important;
  font-size: 1.5rem !important;
  background: #6bc32d !important;
  color: #FFF !important;
}

.mat-button-toggle-appearance-standard.mat-button-toggle-checked {
  color: #FFF !important;
  background-color: #0284c5 !important;
  font-size: 1.5rem !important;
  font-weight: 500 !important;
}

.mat-button-toggle-standalone.mat-button-toggle-appearance-standard .mat-pseudo-checkbox, .mat-button-toggle-group-appearance-standard .mat-pseudo-checkbox {
  --mat-minimal-pseudo-checkbox-selected-checkmark-color: rgb(255 255 255) !important;
}

.mat-sort-header-arrow {
    opacity: 1 !important;
    color: #FFF !important;
}
