



<app-nav-bar></app-nav-bar>

<div style="display: flex; flex-direction: row;">
  <app-side-bar></app-side-bar>

  <div class="modal fade" id="detallesPedidoModal" tabindex="-1" aria-labelledby="detallesPedidoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h1 class="card-title text-primary" id="detallesPedidoModalLabel">Detalles del Pedido {{ pedidoSeleccionado?.pedido }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-4">
          <table class="table" *ngIf="detallesPedido && detallesPedido.length > 0; else noData">
            <thead>
              <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Lote</th>
                <th>Vence</th>
                <th>Esc.Producto</th>
                <th>Esc.Proveedor</th>
                <th>Precio Unitario</th>
                <th>Importe</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detalle of detallesPedido">
                <td>{{ detalle.desca || 'N/A' }}</td>
                <td>{{ detalle.cana || 0 }}</td>
                <td>{{ detalle.lote || 'N/A' }}</td>
                <td>{{ detalle.vence || 'N/A' }}</td>
                <td>{{ detalle.descu2 || 0 }}</td>
                <td>{{ detalle.descu3 || 0 }}</td>
                <td>{{ detalle.preca || 0 }}</td>
                <td>{{ detalle.tota || 0 }}</td>
              </tr>
            </tbody>
          </table>
          <ng-template #noData>
            <p>No se encontraron detalles para este pedido.</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  

  <main class="historialped__main ">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

    <section class="historialped__historial">
      <h3 class="card-title text-primary">Ultimos 10 pedidos enviados</h3>
      <!-- <table class="historialped__historial-table">
        <thead>
          <tr>
            <th scope="col">Nro. Pedido</th>
            <th scope="col">Origen</th>
            <th scope="col">Unidades</th>
            <th scope="col">Factura</th>
            <th scope="col">Fecha</th>
            <th scope="col">Estatus</th>
            <th scope="col">Ver</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pedido of historialPedidos">
            <td>{{ pedido.pedido }}</td>
            <td>{{ pedido.origen ? pedido.origen : 'Asesor Ventas' }}</td>
            <td>{{ pedido.cantidad }}</td>
            <td>{{ pedido.factura }}</td>
            <td>{{ pedido.fecha }}</td>
            <td>{{ pedido.factura ? 'FACTURADO' : 'PENDIENTE' }}</td>
            <td style="text-align: center; cursor: pointer;" (click)="showdetail(pedido)">
              <i class="show__detail fa-solid fa-eye" title="Mostrar detalle"></i>
            </td>
          </tr>
        </tbody>
      </table> -->

        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="pedido">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nro. Pedido </th>
            <td mat-cell *matCellDef="let row"> {{row.pedido}} </td>
          </ng-container>
      
          <ng-container matColumnDef="origen">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Origen </th>
            <td mat-cell *matCellDef="let row"> {{row.origen ? row.origen : 'Asesor Ventas'}} </td>
          </ng-container>
      
          <ng-container matColumnDef="unidades">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Unidades </th>
            <td mat-cell *matCellDef="let row"> {{row.cantidad}} </td>
          </ng-container>
      
          <ng-container matColumnDef="factura">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Factura </th>
            <td mat-cell *matCellDef="let row"> {{row.factura}} </td>
          </ng-container>
      
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
            <td mat-cell *matCellDef="let row"> {{row.fecha}} </td>
          </ng-container>
      
          <ng-container matColumnDef="estatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
            <td mat-cell *matCellDef="let row"> {{row.factura ? 'FACTURADO' : 'PENDIENTE'}} </td>
          </ng-container>
      
          <ng-container matColumnDef="ver">
            <th mat-header-cell *matHeaderCellDef> Ver </th>
            <td mat-cell *matCellDef="let row">
              <span style="text-align: center; cursor: pointer;" (click)="showdetail(row)">
                <i class="show__detail fa-solid fa-eye" title="Mostrar detalle"></i>
              </span>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>   
  -    
      <ng-template #noData>
        <p>No hay historial de pedidos disponibles.</p>
      </ng-template>
      
    </section>
    <section class="historialped__pedidos">
      <button class="historialped__checkout-button">Bajar historico de pedidos</button>
    </section>
  
  
  </main>
</div>


<app-footer></app-footer>
