<app-nav-bar></app-nav-bar>

<div style="display: flex; flex-direction: row;">
  <app-side-bar></app-side-bar>

  <div class="mi-perfil">
      <header class="mi-perfil__header">
        <h1 class="ofertas-title mi-perfil__title">Cargar pedido por listado (Excel)</h1>
      </header>
    
      <div class="mi-perfil__content">
        <main class="mi-perfil__main">
          <div class="mi-perfil__left">

                          
            <div class="card mt-4 card__info">
                <div class="card-body ">
                    <h3 class="card-title text-primary">Baje su listado e importelo</h3>
                    <div class="row mt-5">    
                      
                        <div class="col-12 mb-3">
                            <button class="row-clear-filter" (click)="bajaexcel()">Bajar listado</button>
                        </div>
                        
                        <div class="col-12 upload-container">
                            <label for="excelUpload" class="upload-label" [class.error-highlight]="showErrorHighlight">
                              <i class="fas fa-file-upload"></i>
                              <span *ngIf="!fileName">Seleccione archivo .xlsx</span>
                              <span *ngIf="fileName">{{ fileName }}</span>
                              <input type="file" id="excelUpload" class="upload-input" (change)="onFileChange($event)" />
                            </label>
                            <button class="busca__pedido" (click)="cargarArchivo();">Cargar archivo</button>
                        </div>

                    </div>

                </div>
            </div>
  
            <div class="card card__info  mt-5">
                <app-clicard></app-clicard>
            </div>

          </div>
  
          <!-- <div class="mi-perfil__right">
              <app-historialped></app-historialped>


          </div> -->
  
        </main>
      </div>
  
      <div class="pre__footer"></div>
  
  </div>
</div>

<app-footer></app-footer>
